Repository autowarefoundation/autoware_launch, pull requests merged in 2024-09, with the labels that each got.

#1143 fix(static_obstacle_avoidance): tune parameters
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/static_obstacle_avoidance.param.yaml
Labels: tag:run-build-and-test-differential

#1148 fix(static_obstacle_avoidance): increase prepare time
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/static_obstacle_avoidance.param.yaml
Labels: tag:run-build-and-test-differential

#1093 feat(autoware_lidar_transfusion): add transfusion config
  autoware_launch/config/perception/object_recognition/detection/lidar_model/transfusion.param.yaml
Labels: component:perception, tag:run-build-and-test-differential

#1150 feat: add simulator rviz config
  autoware_launch/rviz/scenario_simulator.rviz
Labels: enhancement, component:simulation, component:ui, tag:run-build-and-test-differential

#1133 feat(autoware_launch): add expansion params
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/autoware_behavior_path_dynamic_obstacle_avoidance_module/dynamic_obstacle_avoidance.param.yaml
Labels: tag:run-build-and-test-differential

#1154 chore: add taekjin lee to perception launcher and configuration maintainer
  .github/CODEOWNERS-manual
Labels: type:ci, tag:run-build-and-test-differential

#1114 feat(autoware_mpc_lateral_controller): add resampled reference trajectory for debug purpose
  autoware_launch/config/control/trajectory_follower/lateral/mpc.param.yaml
  autoware_launch/rviz/autoware.rviz
Labels: component:ui, tag:run-build-and-test-differential

#1147 feat(occupancy_grid_map_outlier_filter): add option for time keeper
  autoware_launch/config/perception/obstacle_segmentation/occupancy_grid_based_outlier_filter/occupancy_grid_map_outlier_filter.param.yaml
Labels: component:map, tag:run-build-and-test-differential

#1134 feat(ground_segmentation): add option for time keeper
  autoware_launch/config/perception/obstacle_segmentation/ground_segmentation/ground_segmentation.param.yaml
Labels: component:perception, tag:run-build-and-test-differential

#1138 feat(occupancy_grid_map): add option for time keeper
  autoware_launch/config/perception/occupancy_grid_map/laserscan_based_occupancy_grid_map.param.yaml
  autoware_launch/config/perception/occupancy_grid_map/multi_lidar_pointcloud_based_occupancy_grid_map.param.yaml
  autoware_launch/config/perception/occupancy_grid_map/pointcloud_based_occupancy_grid_map.param.yaml
  autoware_launch/config/perception/occupancy_grid_map/synchronized_grid_map_fusion_node.param.yaml
Labels: component:perception, tag:run-build-and-test-differential

#1158 chore(tier4_pereption_component): add image_segmentation_based_filter option param
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception, tag:run-build-and-test-differential

#1156 feat(goal_planner): dense goal candidate sampling in BusStopArea
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/goal_planner/goal_planner.param.yaml
Labels: tag:run-build-and-test-differential

#1161 chore(planning): add maintainer
  .github/CODEOWNERS
Labels: type:ci, tag:run-build-and-test-differential

#1160 feat: add parameters for restart suppression in crosswalk
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/crosswalk.param.yaml
Labels: tag:run-build-and-test-differential

#1153 feat(mission_planner): add option to prevent rerouting in autonomous driving mode
  autoware_launch/config/planning/mission_planning/mission_planner/mission_planner.param.yaml
Labels: tag:run-build-and-test-differential

#1163 feat(run_out): speed up run out response
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/run_out.param.yaml
Labels: tag:run-build-and-test-differential

#1165 feat(start_planner): add option to skip rear vehicle check
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/start_planner/start_planner.param.yaml
Labels: tag:run-build-and-test-differential

#1017 feat: add env variable to enable rviz2 theme
  autoware_launch/launch/autoware.launch.xml
Labels: tag:run-build-and-test-differential

#1162 feat(crosswalk)!: update stop position caluculation
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/crosswalk.param.yaml
Labels: tag:run-build-and-test-differential

#1164 feat: change visualization of localization results from PoseHistory to PoseWithCovarianceHistory
  autoware_launch/rviz/autoware.rviz
Labels: component:ui, tag:run-build-and-test-differential

#1169 style: use colors consistent with new theme
  autoware_launch/rviz/autoware.rviz
Labels: component:ui, tag:run-build-and-test-differential

#1144 feat(tier4_perception_launch): enable to use multi camera on traffic light recognition
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception, tag:run-build-and-test-differential

#1172 refactor(behavior_path_planner): remove unnecessary parameters
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/behavior_path_planner.param.yaml
Labels: tag:run-build-and-test-differential

#1174 refactor(system_monitor/ntp_monitor): add-missing-parameters
  autoware_launch/config/system/system_monitor/ntp_monitor.param.yaml
Labels: tag:run-build-and-test-differential

#1175 refactor(system_monitor/net_monitor): remove-missing-patameters
  autoware_launch/config/system/system_monitor/net_monitor.param.yaml
Labels: tag:run-build-and-test-differential

#1173 feat(emergency_handler): delete package
  autoware_launch/config/system/emergency_handler/emergency_handler.param.yaml
  autoware_launch/launch/components/tier4_system_component.launch.xml
Labels: component:system, tag:run-build-and-test-differential

#1176 fix(avoidance_by_lane_change): remove unused parameter
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/avoidance_by_lane_change/avoidance_by_lane_change.param.yaml
Labels: tag:run-build-and-test-differential

#1157 feat(lane_change): add lane change parameter
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/lane_change/lane_change.param.yaml
Labels: tag:run-build-and-test-differential

#1177 fix(perception): adopt awsim (tlr) camera topic
  autoware_launch/launch/components/tier4_perception_component.launch.xml
  autoware_launch/launch/e2e_simulator.launch.xml
Labels: component:simulation, component:perception, tag:run-build-and-test-differential

#1179 revert: feat: change visualization of localization results from PoseHistory to PoseWithCovarianceHistory (#1164)
  autoware_launch/rviz/autoware.rviz
Labels: component:ui, tag:run-build-and-test-differential

#1178 feat(system_error_monitor): delete system error monitor
  autoware_launch/config/system/system_error_monitor/diagnostic_aggregator/system.param.yaml
  autoware_launch/config/system/system_error_monitor/diagnostic_aggregator/vehicle.param.yaml
  autoware_launch/config/system/system_error_monitor/system_error_monitor.awsim.param.yaml
  autoware_launch/config/system/system_error_monitor/system_error_monitor.param.yaml
  autoware_launch/config/system/system_error_monitor/system_error_monitor.planning_simulation.param.yaml
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/components/tier4_system_component.launch.xml
  autoware_launch/launch/e2e_simulator.launch.xml
Labels: enhancement, component:system, component:simulation, component:planning, tag:run-build-and-test-differential

#1168 feat(autonomous_emergency_braking): initiate speed_calculation_expansion_margin parameter
  autoware_launch/config/control/autoware_autonomous_emergency_braking/autonomous_emergency_braking.param.yaml
Labels: component:control, tag:run-build-and-test-differential

#1180 feat(pose_initializer): add new parameter for check error between initial pose and GNSS pose
  autoware_launch/config/localization/pose_initializer.param.yaml
Labels: tag:run-build-and-test-differential

#1166 fix(obstacle_cruise_planner): tune obstacle_cruise_planner for cruising front NPCs in dense urban ODD scenarios
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/obstacle_cruise_planner/obstacle_cruise_planner.param.yaml
Labels: tag:run-build-and-test-differential
