Repository autowarefoundation/autoware_launch, pull requests merged in 2024-06, with the labels that each got.

#1004 feat: update layout
  autoware_launch/rviz/autoware.rviz
Labels: component:ui

#1013 feat: rename autoware_auto_perception_rviz_plugin to autoware_perception_rviz_plugin
  autoware_launch/rviz/autoware.rviz
Labels: component:ui

#1014 chore(planning_launch): update motion module name
  autoware_launch/config/planning/preset/default_preset.yaml
  autoware_launch/config/planning/scenario_planning/common/autoware_velocity_smoother/Analytical.param.yaml
  autoware_launch/config/planning/scenario_planning/common/autoware_velocity_smoother/JerkFiltered.param.yaml
  autoware_launch/config/planning/scenario_planning/common/autoware_velocity_smoother/L2.param.yaml
  autoware_launch/config/planning/scenario_planning/common/autoware_velocity_smoother/Linf.param.yaml
  autoware_launch/config/planning/scenario_planning/common/autoware_velocity_smoother/velocity_smoother.param.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/autoware_path_optimizer/path_optimizer.param.yaml
  autoware_launch/launch/components/tier4_planning_component.launch.xml
  autoware_launch/rviz/autoware.rviz
Labels: component:planning, component:ui

#1019 feat(autonomous_emergency_braking): add autoware prefix to AEB
  autoware_launch/config/control/autoware_autonomous_emergency_braking/autonomous_emergency_braking.param.yaml
  autoware_launch/config/system/system_error_monitor/system_error_monitor.awsim.param.yaml
  autoware_launch/config/system/system_error_monitor/system_error_monitor.param.yaml
  autoware_launch/config/system/system_error_monitor/system_error_monitor.planning_simulation.param.yaml
  autoware_launch/launch/components/tier4_control_component.launch.xml
Labels: component:system, component:control, component:planning

#1020 refactor(out_of_lane): remove from behavior_velocity
  autoware_launch/config/planning/preset/default_preset.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/out_of_lane.param.yaml
  autoware_launch/launch/components/tier4_planning_component.launch.xml
  autoware_launch/rviz/autoware.rviz
Labels: component:planning, component:ui

#1023 feat(obstacle_velocity_limiter): move to motion_velocity_planner
  autoware_launch/config/planning/preset/default_preset.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/motion_velocity_planner/obstacle_velocity_limiter.param.yaml
  autoware_launch/launch/components/tier4_planning_component.launch.xml
  autoware_launch/rviz/autoware.rviz
Labels: component:planning, component:ui

#1025 refactor(dynamic_obstacle_stop): move to motion_velocity_planner
  autoware_launch/config/planning/preset/default_preset.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/motion_velocity_planner/dynamic_obstacle_stop.param.yaml
  autoware_launch/launch/components/tier4_planning_component.launch.xml
  autoware_launch/rviz/autoware.rviz
Labels: component:planning, component:ui

#1043 feat(autoware_launch): use mrm handler by default
  autoware_launch/launch/components/tier4_system_component.launch.xml
Labels: component:system
