Repository autowarefoundation/autoware_launch, pull requests merged in 2024-05, with the labels that each got.

#981 fix: update traffic topic in autoware.rviz
  autoware_launch/rviz/autoware.rviz
Labels: bug

#989 feat(multi_object_tracker): add multi object input config file
  autoware_launch/config/perception/object_recognition/tracking/multi_object_tracker/input_channels.param.yaml
  autoware_launch/config/perception/object_recognition/tracking/multi_object_tracker/multi_object_tracker_node.param.yaml
  autoware_launch/launch/components/tier4_perception_component.launch.xml
  autoware_launch/launch/components/tier4_simulator_component.launch.xml
Labels: component:simulation, component:perception

#991 feat: add diagnostic graph settings
  autoware_launch/launch/components/tier4_system_component.launch.xml
Labels: component:system

#924 feat(e2e_simulator.launch): add argument for running the CARLA interface
  autoware_launch/launch/e2e_simulator.launch.xml
Labels: component:simulation

#1001 fix(rviz): remove StringStampedOverlayDisplay reference
  autoware_launch/rviz/autoware.rviz
Labels: bug, component:ui

#1000 feat(autoware_launch): add diagnostic graph config for awsim
  autoware_launch/config/system/diagnostic_graph_aggregator/autoware-awsim.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/autoware-main.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/autoware-psim.yaml
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/components/tier4_system_component.launch.xml
  autoware_launch/launch/e2e_simulator.launch.xml
  autoware_launch/launch/logging_simulator.launch.xml
  autoware_launch/launch/planning_simulator.launch.xml
Labels: component:system, component:simulation, component:planning

#967 feat(map_based_prediction): use different time horizon
  autoware_launch/config/perception/object_recognition/prediction/map_based_prediction.param.yaml
Labels: component:map

#1006 revert(map_based_prediction): use different time horizon (#967)
  autoware_launch/config/perception/object_recognition/prediction/map_based_prediction.param.yaml
Labels: component:map

#1005 feat(map_based_prediction): use different time horizon
  autoware_launch/config/perception/object_recognition/prediction/map_based_prediction.param.yaml
Labels: component:map

#1008 chore(planning_launch): update module name
  autoware_launch/config/planning/preset/default_preset.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/autoware_behavior_path_dynamic_obstacle_avoidance_module/dynamic_obstacle_avoidance.param.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/static_obstacle_avoidance.param.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/scene_module_manager.param.yaml
  autoware_launch/launch/components/tier4_planning_component.launch.xml
  autoware_launch/rviz/autoware.rviz
Labels: component:planning, component:ui

#845 refactor(image_projection_based_fusion): rework params
  autoware_launch/config/perception/object_recognition/detection/image_projection_based_fusion/fusion_common.param.yaml
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception
