Repository autowarefoundation/autoware_launch, pull requests merged in 2024-11, with the labels that each got.

#1205 feat(collision detector): add collision detector to launch/config
  autoware_launch/config/control/autoware_collision_detector/collision_detector.param.yaml
  autoware_launch/launch/components/tier4_control_component.launch.xml
Labels: component:control, tag:run-build-and-test-differential

#1199 feat(goal_planner): set lane departure check margin 0.3
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/goal_planner/goal_planner.param.yaml
Labels: tag:run-build-and-test-differential

#1207 chore: update fusion_common.param.yaml with new image projection sett…
  autoware_launch/config/perception/object_recognition/detection/image_projection_based_fusion/fusion_common.param.yaml
Labels: tag:run-build-and-test-differential

#1204 fix: changed `loc_config_path` declaration from let to arg
  autoware_launch/launch/components/tier4_localization_component.launch.xml
Labels: component:localization, tag:run-build-and-test-differential

#1209 feat(lane_change): enable cancel when ego in turn direction lane main (RT0-33893)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/lane_change/lane_change.param.yaml
Labels: tag:run-build-and-test-differential

#1213 feat(rviz): add rviz config for debugging
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/e2e_simulator.launch.xml
  autoware_launch/launch/planning_simulator.launch.xml
  autoware_launch/rviz/perception.rviz
  autoware_launch/rviz/planning_bev.rviz
  autoware_launch/rviz/planning_tpv.rviz
Labels: component:simulation, component:perception, component:planning, component:ui, tag:run-build-and-test-differential

#1214 feat(goal_planner): set lane departure check margin 0.20
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/goal_planner/goal_planner.param.yaml
Labels: tag:run-build-and-test-differential

#1186 feat(system_monitor): add on/off config for network traffic monitor
  autoware_launch/config/system/system_monitor/net_monitor.param.yaml
Labels: tag:run-build-and-test-differential

#1216 feat(detection_area)!: add retruction feature
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/detection_area.param.yaml
Labels: tag:run-build-and-test-differential

#1219 fix(pid_longitudinal_controller): revive hysteresis of state transition
  autoware_launch/config/control/trajectory_follower/longitudinal/pid.param.yaml
Labels: tag:run-build-and-test-differential

#1218 feat(aeb): set global param to override autoware state check
  autoware_launch/launch/components/tier4_control_component.launch.xml
Labels: component:control, tag:run-build-and-test-differential

#1222 revert(obstacle_cruise): disable ouside stop feature
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/obstacle_cruise_planner/obstacle_cruise_planner.param.yaml
Labels: tag:run-build-and-test-differential

#1225 feat(costmap_generator): change lidar height thresholds to vehicle frame
  autoware_launch/config/planning/scenario_planning/common/costmap_generator.param.yaml
Labels: component:map, tag:run-build-and-test-differential

#1227 feat: change the old diagnostic_convertor to scenario_simulator_v2_adapter
  autoware_launch/launch/components/tier4_simulator_component.launch.xml
  autoware_launch/launch/planning_simulator.launch.xml
Labels: component:simulation, component:planning, tag:run-build-and-test-differential

#1220 feat(psim, dummy_diag, diagnostic_graph_aggregator)!: launch dummy_diag_publisher
  autoware_launch/config/system/diagnostic_graph_aggregator/autoware-psim.yaml
  autoware_launch/config/system/dummy_diag_publisher/dummy_diag_publisher.param.yaml
  autoware_launch/config/system/system_diagnostic_monitor/autoware-psim.yaml
  autoware_launch/launch/planning_simulator.launch.xml
Labels: component:simulation, component:planning, tag:run-build-and-test-differential

#1226 chore(package.xml): bump version to 0.38.0
  autoware_launch/CHANGELOG.rst
  autoware_launch/package.xml
Labels: type:documentation, tag:run-build-and-test-differential

#1229 chore(package.xml): bump version to 0.38.0 (#1226)
  autoware_launch/CHANGELOG.rst
  autoware_launch/package.xml
Labels: type:documentation, tag:run-build-and-test-differential

#1232 feat(crosswalk): disable slowdowns when the crosswalk is occluded
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/crosswalk.param.yaml
Labels: tag:run-build-and-test-differential

#1231 feat(goal_planner): loosen safety check to prevent unnecessary stop
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/goal_planner/goal_planner.param.yaml
Labels: tag:run-build-and-test-differential

#1233 chore(crosswalk)!: delete wide crosswalk corresponding function
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/crosswalk.param.yaml
Labels: tag:run-build-and-test-differential

#1235 feat(rviz): show velocity/steering factors
  autoware_launch/rviz/planning_bev.rviz
  autoware_launch/rviz/planning_tpv.rviz
Labels: component:planning, component:ui, tag:run-build-and-test-differential

#1234 feat(freespace_planner): lower safety distance margin from 0.5 to 0.4m
  autoware_launch/config/planning/scenario_planning/parking/freespace_planner/freespace_planner.param.yaml
Labels: tag:run-build-and-test-differential

#1230 chore(system_diagnostic_monitor): sort paths
  autoware_launch/config/system/system_diagnostic_monitor/autoware-main.yaml
Labels: tag:run-build-and-test-differential

#1237 feat(control): use preset.yaml to control which modules to launch for control modules
  autoware_launch/config/control/preset/default_preset.yaml
  autoware_launch/config/control/preset/dlr_control_validator_preset.yaml
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/components/tier4_control_component.launch.xml
  autoware_launch/launch/e2e_simulator.launch.xml
  autoware_launch/launch/logging_simulator.launch.xml
  autoware_launch/launch/planning_simulator.launch.xml
Labels: component:simulation, component:control, component:planning, tag:run-build-and-test-differential

#1196 feat: add an option of odometry uncertainty consideration in multi_object_tracker_node
  autoware_launch/config/perception/object_recognition/tracking/multi_object_tracker/multi_object_tracker_node.param.yaml
Labels: tag:run-build-and-test-differential

#1242 fix: default value for control_module_preset
  autoware_launch/launch/planning_simulator.launch.xml
Labels: component:simulation, component:planning, tag:run-build-and-test-differential

#1243 fix: default value for control_module_preset
  autoware_launch/launch/logging_simulator.launch.xml
Labels: component:simulation, tag:run-build-and-test-differential

#1244 feat(autonomous_emergency_braking): add params for limiting imu path with lat deviation
  autoware_launch/config/control/autoware_autonomous_emergency_braking/autonomous_emergency_braking.param.yaml
Labels: tag:run-build-and-test-differential

#1223 feat(scan_ground_filter): update grid size for ground segmentation
  autoware_launch/config/perception/obstacle_segmentation/ground_segmentation/ground_segmentation.param.yaml
Labels: tag:run-build-and-test-differential

#1247 refactor(lane_change): refactor lane change parameters
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/lane_change/lane_change.param.yaml
Labels: tag:run-build-and-test-differential

#1248 chore(package.xml): bump version to 0.39.0
  .prettierignore
  autoware_launch/CHANGELOG.rst
  autoware_launch/config/control/autoware_collision_detector/collision_detector.param.yaml
  autoware_launch/config/control/trajectory_follower/longitudinal/pid.param.yaml
  autoware_launch/config/localization/ekf_localizer.param.yaml
  autoware_launch/config/perception/object_recognition/detection/image_projection_based_fusion/fusion_common.param.yaml
  autoware_launch/config/planning/scenario_planning/common/costmap_generator.param.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/goal_planner/goal_planner.param.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/lane_change/lane_change.param.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/detection_area.param.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/obstacle_cruise_planner/obstacle_cruise_planner.param.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/autoware-awsim.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/autoware-main.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/autoware-psim.yaml
  autoware_launch/config/system/system_diagnostic_monitor/autoware-main.yaml
  autoware_launch/config/system/system_diagnostic_monitor/autoware-psim.yaml
  autoware_launch/config/system/system_diagnostic_monitor/control.yaml
  autoware_launch/config/system/system_diagnostic_monitor/hardware.yaml
  autoware_launch/config/system/system_diagnostic_monitor/localization.yaml
  autoware_launch/config/system/system_diagnostic_monitor/map.yaml
  autoware_launch/config/system/system_diagnostic_monitor/perception.yaml
  autoware_launch/config/system/system_diagnostic_monitor/planning.yaml
  autoware_launch/config/system/system_diagnostic_monitor/system.yaml
  autoware_launch/config/system/system_diagnostic_monitor/vehicle.yaml
  autoware_launch/config/system/system_monitor/net_monitor.param.yaml
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/components/tier4_control_component.launch.xml
  autoware_launch/launch/components/tier4_localization_component.launch.xml
  autoware_launch/launch/components/tier4_simulator_component.launch.xml
  autoware_launch/launch/e2e_simulator.launch.xml
  autoware_launch/launch/planning_simulator.launch.xml
  autoware_launch/package.xml
  autoware_launch/rviz/perception.rviz
  autoware_launch/rviz/planning_bev.rviz
  autoware_launch/rviz/planning_tpv.rviz
Labels: type:documentation, component:localization, component:system, component:simulation, type:ci, component:control, component:map, component:perception, component:planning, component:ui, tag:run-build-and-test-differential

#1129 fix(static_obstacle_avoidance): improve avoidance for parked NPCs
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/static_obstacle_avoidance.param.yaml
Labels: tag:run-build-and-test-differential

#1170 fix(dynamic_obstacle_avoidance): improve avoidance for moving NPCs
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/autoware_behavior_path_dynamic_obstacle_avoidance_module/dynamic_obstacle_avoidance.param.yaml
Labels: tag:run-build-and-test-differential

#1254 refactor(autoware_behavior_velocity_planner_common,autoware_behavior_velocity_planner): separate param files
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/behavior_velocity_planner.param.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/behavior_velocity_planner_common.param.yaml
  autoware_launch/launch/components/tier4_planning_component.launch.xml
Labels: component:planning, tag:run-build-and-test-differential

#1256 feat(lane_change): add delay lane change parameters
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/lane_change/lane_change.param.yaml
Labels: tag:run-build-and-test-differential

#1251 feat(autonomous_emergency_braking): add parameter to limit IMU path length and rename longitudinal offset
  autoware_launch/config/control/autoware_autonomous_emergency_braking/autonomous_emergency_braking.param.yaml
Labels: tag:run-build-and-test-differential

#1253 refactor(system_diagnostic_monitor, dummy_diag_publisher, diagnostic_graph_aggregator): combine diag list setting directories
  autoware_launch/config/system/diagnostic_graph_aggregator/autoware-awsim.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/autoware-main.yaml
  autoware_launch/config/system/diagnostics/autoware-awsim.yaml
  autoware_launch/config/system/diagnostics/autoware-main.yaml
  autoware_launch/config/system/diagnostics/control.yaml
  autoware_launch/config/system/diagnostics/dummy_diag_publisher.param.yaml
  autoware_launch/config/system/diagnostics/hardware.yaml
  autoware_launch/config/system/diagnostics/localization.yaml
  autoware_launch/config/system/diagnostics/map.yaml
  autoware_launch/config/system/diagnostics/perception.yaml
  autoware_launch/config/system/diagnostics/planning.yaml
  autoware_launch/config/system/diagnostics/system.yaml
  autoware_launch/config/system/diagnostics/vehicle.yaml
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/components/tier4_system_component.launch.xml
  autoware_launch/launch/e2e_simulator.launch.xml
  autoware_launch/launch/logging_simulator.launch.xml
  autoware_launch/launch/planning_simulator.launch.xml
Labels: component:localization, component:system, component:simulation, component:control, component:map, component:perception, component:planning, tag:run-build-and-test-differential
