Repository autowarefoundation/autoware_launch, pull requests merged in 2024-07, with the labels that each got.

#1047 refactor(tier4_control_launch): replace python launch with xml
  autoware_launch/launch/components/tier4_control_component.launch.xml
Labels: component:control

#1055 ci(pre-commit-autoupdate): add new workflow
  .github/workflows/pre-commit-autoupdate.yaml
Labels: type:ci

#1063 feat(autonomous_emergency_braking): add param for oublishing debug markers
  autoware_launch/config/control/autoware_autonomous_emergency_braking/autonomous_emergency_braking.param.yaml
Labels: tag:run-build-and-test-differential

#993 feat(map_loader, route_handler)!: add format_version validation
  autoware_launch/config/map/lanelet2_map_loader.param.yaml
Labels: component:map, tag:run-build-and-test-differential

#1065 feat(static_obstacle_avoidance): add new option to change policy
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/static_obstacle_avoidance.param.yaml
Labels: tag:run-build-and-test-differential

#1060 feat(tier4_perception_component): refactored launch options
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception, tag:run-build-and-test-differential

#1069 chore(git): add ignore file
  .gitignore
Labels: type:ci, tag:run-build-and-test-differential

#1071 chore: update code owners for tier4_system_component.launch.xml
  .github/CODEOWNERS
  .github/CODEOWNERS-manual
Labels: type:ci, tag:run-build-and-test-differential

#1070 feat(duplicated_node_checker): add duplicate nodes to ignore
  autoware_launch/config/system/duplicated_node_checker/duplicated_node_checker.param.yaml
Labels: tag:run-build-and-test-differential

#1072 feat: add config for processing_time_checker
  autoware_launch/config/system/processing_time_checker/processing_time_checker.param.yaml
  autoware_launch/launch/components/tier4_system_component.launch.xml
Labels: component:system, tag:run-build-and-test-differential

#1064 feat(autoware_behavior_path_planner): remove max_iteration_num parameter
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/behavior_path_planner.param.yaml
Labels: tag:run-build-and-test-differential

#1074 fix(static_obstacle_avoidance): check stopped time in freespace
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/static_obstacle_avoidance.param.yaml
Labels: tag:run-build-and-test-differential

#1076 fix(obstacle_cruise_planner): guarantee the stop margin
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/obstacle_cruise_planner/obstacle_cruise_planner.param.yaml
Labels: tag:run-build-and-test-differential

#1067 chore: add ml detectors' buffer size
  autoware_launch/config/perception/object_recognition/detection/lidar_model/centerpoint.param.yaml
  autoware_launch/config/perception/object_recognition/detection/lidar_model/centerpoint_sigma.param.yaml
  autoware_launch/config/perception/object_recognition/detection/lidar_model/centerpoint_tiny.param.yaml
  autoware_launch/config/perception/object_recognition/detection/lidar_model/pointpainting.param.yaml
Labels: tag:run-build-and-test-differential

#1050 feat(control_validator)!: add velocity check
  autoware_launch/config/control/control_validator/control_validator.param.yaml
Labels: component:control, tag:run-build-and-test-differential

#1075 feat(e2e_simulator.launch): renamed carla interface package in e2e_launch
  autoware_launch/launch/e2e_simulator.launch.xml
Labels: component:simulation, tag:run-build-and-test-differential

#1078 feat(simple_planning_simulator): add actuation command simulator
  autoware_launch/launch/components/tier4_simulator_component.launch.xml
  autoware_launch/launch/planning_simulator.launch.xml
Labels: component:simulation, component:planning, tag:run-build-and-test-differential

#1081 feat(ndt_scan_matcher): add scale_factor to covariance_estimation
  autoware_launch/config/localization/ndt_scan_matcher/ndt_scan_matcher.param.yaml
Labels: tag:run-build-and-test-differential

#1079 chore: add p/c maintainers
  .github/CODEOWNERS
Labels: type:ci, tag:run-build-and-test-differential

#1077 feat(vehicle_cmd_gate): change param to relax pedal rate limit when the vehicle velocity is slow enough
  autoware_launch/config/control/vehicle_cmd_gate/vehicle_cmd_gate.param.yaml
Labels: tag:run-build-and-test-differential

#1059 feat(start_planner): add end_pose_curvature_threshold
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/start_planner/start_planner.param.yaml
Labels: tag:run-build-and-test-differential

#1062 feat(out_of_lane): add parameter to ignore objects behind ego
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/motion_velocity_planner/out_of_lane.param.yaml
Labels: tag:run-build-and-test-differential

#1088 feat(start_planner): set end_pose_curvature_threshold 0.1
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/start_planner/start_planner.param.yaml
Labels: tag:run-build-and-test-differential

#1052 feat(pid_longitudinal_controller): re-organize diff limit structure
  autoware_launch/config/control/trajectory_follower/longitudinal/pid.param.yaml
Labels: tag:run-build-and-test-differential

#1092 feat(dynamic_drivable_area_expansion): min_bound_interval parameter
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/drivable_area_expansion.param.yaml
Labels: tag:run-build-and-test-differential

#1080 feat(freespace_planning_algorithm): update freespace planner params
  autoware_launch/config/planning/scenario_planning/common/costmap_generator.param.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/goal_planner/goal_planner.param.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/start_planner/start_planner.param.yaml
  autoware_launch/config/planning/scenario_planning/parking/freespace_planner/freespace_planner.param.yaml
Labels: component:map, tag:run-build-and-test-differential

#1098 feat(out_of_lane): add lateral buffer between the lane and stop pose
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/motion_velocity_planner/out_of_lane.param.yaml
Labels: tag:run-build-and-test-differential

#1096 perf(ndt_scan_matcher): change the temperature of multi_ndt_score to 0.05
  autoware_launch/config/localization/ndt_scan_matcher/ndt_scan_matcher.param.yaml
Labels: tag:run-build-and-test-differential

#1085 feat(crosswalk): more conservative when the ego pass first
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/crosswalk.param.yaml
Labels: tag:run-build-and-test-differential

#1084 feat(dynamic_obstacle_avoidance): shorter predicted path for pedestrians
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/autoware_behavior_path_dynamic_obstacle_avoidance_module/dynamic_obstacle_avoidance.param.yaml
Labels: tag:run-build-and-test-differential

#1097 perf(freespace_planning_algorithms): tune freespace planner parameters
  autoware_launch/config/planning/scenario_planning/parking/freespace_planner/freespace_planner.param.yaml
Labels: component:planning, tag:run-build-and-test-differential

#1101 feat(static_obstacle_avoidance): add force deactivation duration time
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/static_obstacle_avoidance.param.yaml
Labels: tag:run-build-and-test-differential

#1099 feat(autonomous_emergency_braking): enable AEB stop in vehicle_cmd_gate and diag_graph_agg
  autoware_launch/config/control/autoware_autonomous_emergency_braking/autonomous_emergency_braking.param.yaml
  autoware_launch/config/control/vehicle_cmd_gate/vehicle_cmd_gate.param.yaml
  autoware_launch/config/system/mrm_emergency_stop_operator/mrm_emergency_stop_operator.param.yaml
Labels: tag:run-build-and-test-differential
