Repository autowarefoundation/autoware_launch, pull requests merged in 2024-12, with the labels that each got.

#1210 feat(object_lanelet_filter): add configurable margin for object lanel…
  autoware_launch/config/perception/object_recognition/detection/detected_object_validation/object_lanelet_filter.param.yaml
  autoware_launch/config/perception/object_recognition/detection/object_filter/object_lanelet_filter.param.yaml
  autoware_launch/config/perception/object_recognition/detection/object_filter/radar_lanelet_filter.param.yaml
Labels: tag:run-build-and-test-differential

#1257 fix(rviz): fix a bug about visualizing ego model
  autoware_launch/rviz/planning_bev.rviz
Labels: component:planning, component:ui, tag:run-build-and-test-differential

#1246 refactor(global_parameter_loader): prefix package and namespace with autoware
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/package.xml
Labels: tag:run-build-and-test-differential

#1224 feat(lane_change): add new lane change parameter
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/lane_change/lane_change.param.yaml
Labels: tag:run-build-and-test-differential

#1260 fix(pointcloud_container.launch.py): autoware_glog_component
  autoware_launch/launch/pointcloud_container.launch.py
Labels: tag:run-build-and-test-differential

#1262 ci(sync-files): make use of sync-file-templates repository
  .github/sync-files.yaml
Labels: type:ci, tag:run-build-and-test-differential

#1264 refactor(obstacle_cruise_planner)!: refactor rviz and terminal info
  autoware_launch/rviz/autoware.rviz
  autoware_launch/rviz/perception.rviz
  autoware_launch/rviz/planning_bev.rviz
  autoware_launch/rviz/planning_tpv.rviz
  autoware_launch/rviz/scenario_simulator.rviz
Labels: component:simulation, component:perception, component:planning, component:ui, tag:run-build-and-test-differential

#1267 fix(detection-lidar-model): remove unused iou_nms_target_class_names parameter
  autoware_launch/config/perception/object_recognition/detection/lidar_model/centerpoint.param.yaml
  autoware_launch/config/perception/object_recognition/detection/lidar_model/centerpoint_sigma.param.yaml
  autoware_launch/config/perception/object_recognition/detection/lidar_model/centerpoint_tiny.param.yaml
  autoware_launch/config/perception/object_recognition/detection/lidar_model/pointpainting.param.yaml
  autoware_launch/config/perception/object_recognition/detection/lidar_model/transfusion.param.yaml
Labels: tag:run-build-and-test-differential

#1272 chore(package.xml): bump version to 0.40.0
  autoware_launch/CHANGELOG.rst
  autoware_launch/package.xml
Labels: type:documentation, tag:run-build-and-test-differential

#1265 feat(MRM_handler, MRM_emergency_stop_operator): revert mrm_stop parameter, enable mrm_comfortable_stop
  autoware_launch/config/system/mrm_emergency_stop_operator/mrm_emergency_stop_operator.param.yaml
  autoware_launch/config/system/mrm_handler/mrm_handler.param.yaml
Labels: tag:run-build-and-test-differential

#1273 refactor(autoware_multi_object_tracker): extract tracker parameters
  autoware_launch/config/perception/object_recognition/tracking/multi_object_tracker/multi_object_tracker_node.param.yaml
Labels: tag:run-build-and-test-differential

#1274 feat(image_projection_based_fusion): add timekeeper option
  autoware_launch/config/perception/object_recognition/detection/image_projection_based_fusion/fusion_common.param.yaml
Labels: tag:run-build-and-test-differential

#1276 feat(pid_longitudinal_controller): change default slope compesation source to trajectory_adaptive
  autoware_launch/config/control/trajectory_follower/longitudinal/pid.param.yaml
Labels: tag:run-build-and-test-differential

#1277 feat(detected_object_validation): add validation for maximum distance in obstacle_pointcloud_based_validator
  autoware_launch/config/perception/object_recognition/detection/detected_object_validation/obstacle_pointcloud_based_validator.param.yaml
Labels: run:build-and-test-differential

#1283 feat: remove emergency_state_traj_{trans/rot}_dev from trajectory_follower
  .github/CODEOWNERS-manual
  autoware_launch/config/control/trajectory_follower/longitudinal/pid.param.yaml
Labels: run:build-and-test-differential

#1285 feat: add velocity control virtual wall
  autoware_launch/rviz/autoware.rviz
Labels: run:build-and-test-differential

#1284 feat: remove admissible_{position/yaw}_error from trajectory_follower
  autoware_launch/config/control/trajectory_follower/lateral/mpc.param.yaml
Labels: run:build-and-test-differential

#1288 feat(pid_longitudinal_controller): change slope compensation mode to trajectory_goal_adaptive
  autoware_launch/config/control/trajectory_follower/longitudinal/pid.param.yaml
Labels: run:build-and-test-differential

#1275 feat(image_projection_based_fusion): add cache options
  autoware_launch/config/perception/object_recognition/detection/image_projection_based_fusion/fusion_common.param.yaml
Labels: component:perception, run:build-and-test-differential

#1289 feat(autoware_traffic_light_arbiter): add current time validation
  autoware_launch/config/perception/traffic_light_arbiter/traffic_light_arbiter.param.yaml
Labels: component:perception, run:build-and-test-differential

#1291 feat(lane_change): add feature flag param
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/lane_change/lane_change.param.yaml
Labels: run:build-and-test-differential

#1292 feat: remove enable_rtc from detection_area
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/detection_area.param.yaml
Labels: run:build-and-test-differential
