Repository autowarefoundation/autoware_launch, pull requests merged in 2024-08, with the labels that each got.

#1091 feat(behavior_path _planner): divide planner manager modules into dependent slots
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/scene_module_manager.param.yaml
Labels: tag:run-build-and-test-differential

#1103 feat(autonomous_emergency_braking): add info marker to aeb and state check override
  autoware_launch/config/control/autoware_autonomous_emergency_braking/autonomous_emergency_braking.param.yaml
  autoware_launch/rviz/autoware.rviz
Labels: component:ui, tag:run-build-and-test-differential

#1104 feat(lane_change): use different rss param to deal with parked vehicle
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/lane_change/lane_change.param.yaml
Labels: component:planning, tag:run-build-and-test-differential

#1110 feat: increase the number of processes monitored by process_monitor
  autoware_launch/config/system/system_monitor/process_monitor.param.yaml
Labels: enhancement, component:system, tag:run-build-and-test-differential

#1111 fix(mpc_lateral_controller): publish predicted trajectory in Frenet coordinate and visualize it on Rviz
  autoware_launch/config/control/trajectory_follower/lateral/mpc.param.yaml
  autoware_launch/rviz/autoware.rviz
Labels: component:ui, tag:run-build-and-test-differential

#1112 feat(tracking_object_merger): add merge frame
  autoware_launch/config/perception/object_recognition/tracking/tracking_object_merger/decorative_tracker_merger.param.yaml
Labels: tag:run-build-and-test-differential

#1108 fix(lane_change): skip generating path if longitudinal distance difference is less than threshold
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/lane_change/lane_change.param.yaml
Labels: tag:run-build-and-test-differential

#1113 feat(static_obstacle_avoidance): change policy for ambiguous avoidance situation
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/static_obstacle_avoidance.param.yaml
Labels: tag:run-build-and-test-differential

#1116 fix(goal_planner): fix lane departure check not working correctly due to uninitialized variable
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/goal_planner/goal_planner.param.yaml
Labels: tag:run-build-and-test-differential

#1106 feat(psim)!: change a setting parameter type from bool to string
  autoware_launch/launch/components/tier4_simulator_component.launch.xml
  autoware_launch/launch/planning_simulator.launch.xml
Labels: component:simulation, component:planning, tag:run-build-and-test-differential

#1115 fix(lane_change): parameter update
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/lane_change/lane_change.param.yaml
Labels: component:planning, tag:run-build-and-test-differential

#1094 feat(psim)!: preapre settings to launch localization modules on psim
  autoware_launch/launch/components/tier4_simulator_component.launch.xml
  autoware_launch/launch/planning_simulator.launch.xml
Labels: component:simulation, component:planning, tag:run-build-and-test-differential

#1121 chore(autoware_multi_object_tracker): fix typo in input_channels
  autoware_launch/config/perception/object_recognition/tracking/multi_object_tracker/input_channels.param.yaml
Labels: component:perception, tag:run-build-and-test-differential

#1086 fix(lidar_model): add centerpoint_sigma param file
  autoware_launch/config/perception/object_recognition/detection/lidar_model/centerpoint_sigma.param.yaml
Labels: tag:run-build-and-test-differential

#1124 feat(tier4_perception_launch): add transfusion option for lidar_detection_model
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception, tag:run-build-and-test-differential

#1120 feat(freespace_planning_algorithms): add new parameters for astar planning algorithm
  autoware_launch/config/planning/scenario_planning/common/costmap_generator.param.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/goal_planner/goal_planner.param.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/start_planner/start_planner.param.yaml
  autoware_launch/config/planning/scenario_planning/parking/freespace_planner/freespace_planner.param.yaml
Labels: component:map, tag:run-build-and-test-differential

#1127 chore(vehicle_cmd_gate): delete deprecated parameters
  autoware_launch/config/control/vehicle_cmd_gate/vehicle_cmd_gate.param.yaml
Labels: tag:run-build-and-test-differential

#1119 perf(goal_planner): faster path sorting and selection
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/goal_planner/goal_planner.param.yaml
Labels: tag:run-build-and-test-differential

#1130 feat(static_obstacle_avoidance): add parameter for envelope polygon creation
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/static_obstacle_avoidance.param.yaml
Labels: tag:run-build-and-test-differential

#1125 refactor(lane_change): rename prepare_segment_ignore_object_velocity_thresh
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/lane_change/lane_change.param.yaml
Labels: tag:run-build-and-test-differential

#1068 feat(lane_change): consider deceleration in safety check for cancel
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/lane_change/lane_change.param.yaml
Labels: tag:run-build-and-test-differential

#1131 feat(raw_vehicle_cmd_converter): add steer command conversion with VGR
  autoware_launch/config/vehicle/raw_vehicle_cmd_converter/raw_vehicle_cmd_converter.param.yaml
Labels: tag:run-build-and-test-differential

#1095 chore(e2e_launch): add launch_sensing_driver arg
  autoware_launch/launch/e2e_simulator.launch.xml
Labels: component:simulation, tag:run-build-and-test-differential

#1132 feat(raw_vehicle_cmd_converter): disable actuation to steering
  autoware_launch/config/vehicle/raw_vehicle_cmd_converter/raw_vehicle_cmd_converter.param.yaml
Labels: tag:run-build-and-test-differential

#861 feat(localization): add lidar_marker_localizer
  autoware_launch/config/localization/lidar_marker_localizer/lidar_marker_localizer.param.yaml
  autoware_launch/config/localization/lidar_marker_localizer/pointcloud_preprocessor/crop_box_filter_measurement_range.param.yaml
  autoware_launch/config/localization/lidar_marker_localizer/pointcloud_preprocessor/ring_filter.param.yaml
  autoware_launch/launch/components/tier4_localization_component.launch.xml
Labels: component:localization, tag:run-build-and-test-differential

#1117 feat(out_of_lane): redesign to improve accuracy and performance
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/motion_velocity_planner/out_of_lane.param.yaml
Labels: tag:run-build-and-test-differential

#1140 fix(ekf_localizer): change roll, pitch proc dev
  autoware_launch/config/localization/ekf_localizer.param.yaml
Labels: tag:run-build-and-test-differential

#1123 feat(obstacle_pointcloud_based_validator): add enable_debugger parameter
  autoware_launch/config/perception/object_recognition/detection/detected_object_validation/obstacle_pointcloud_based_validator.param.yaml
Labels: tag:run-build-and-test-differential

#1137 feat(occupancy_grid_based_outlier_fillter): add config file to autoware_launch
  autoware_launch/config/perception/obstacle_segmentation/occupancy_grid_based_outlier_filter/occupancy_grid_based_outlier_filter.param.yaml
Labels: tag:run-build-and-test-differential

#1139 feat(pid_longitudinal_controller)!: add acceleration feedback block
  autoware_launch/config/control/trajectory_follower/longitudinal/pid.param.yaml
Labels: tag:run-build-and-test-differential

#1126 feat(detected_object_validation): copy parameter files update from universe
  autoware_launch/config/perception/object_recognition/detection/detected_object_validation/object_lanelet_filter.param.yaml
  autoware_launch/config/perception/object_recognition/detection/detected_object_validation/object_position_filter.param.yaml
  autoware_launch/config/perception/object_recognition/detection/detected_object_validation/obstacle_pointcloud_based_validator.param.yaml
  autoware_launch/config/perception/object_recognition/detection/detected_object_validation/occupancy_grid_based_validator.param.yaml
Labels: tag:run-build-and-test-differential

#1146 feat: fix parameter type error in occupancy_grid_map_outlier_filter.param.yaml
  autoware_launch/config/perception/obstacle_segmentation/occupancy_grid_based_outlier_filter/occupancy_grid_map_outlier_filter.param.yaml
Labels: component:map, tag:run-build-and-test-differential

#1145 chore(stop_filter): extract stop_filter.param.yaml to autoware_launch
  autoware_launch/config/localization/stop_filter.param.yaml
  autoware_launch/launch/components/tier4_localization_component.launch.xml
Labels: component:localization, tag:run-build-and-test-differential
