Repository autowarefoundation/autoware_launch, pull requests merged in 2024-10, with the labels that each got.

#1183 feat(autonomous_emergency_braking): set max imu path length
  autoware_launch/config/control/autoware_autonomous_emergency_braking/autonomous_emergency_braking.param.yaml
Labels: tag:run-build-and-test-differential

#1155 chore(crop_box_filter): add missing default parameter
  autoware_launch/config/perception/object_recognition/detection/clustering/voxel_grid_based_euclidean_cluster.param.yaml
Labels: tag:run-build-and-test-differential

#1142 feat(obstacle_cruise_planner): improve stop and cruise behavior for cut-in & out
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/obstacle_cruise_planner/obstacle_cruise_planner.param.yaml
Labels: tag:run-build-and-test-differential

#1185 revert(obstacle_cruisse): revert "fix(obstacle_cruise_planner): guarantee the stop margin (#1076)"
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/obstacle_cruise_planner/obstacle_cruise_planner.param.yaml
Labels: tag:run-build-and-test-differential

#1187 refactor(rviz): add VirtualWall display for Autonomous Emergency Braking
  autoware_launch/rviz/autoware.rviz
Labels: component:ui, tag:run-build-and-test-differential

#1189 fix(.github): change runs-on value to to ubuntu-22.04
  .github/workflows/build-and-test-differential.yaml
  .github/workflows/build-and-test.yaml
  .github/workflows/cancel-previous-workflows.yaml
  .github/workflows/check-build-depends.yaml
  .github/workflows/pr-labeler.yaml
  .github/workflows/pre-commit-autoupdate.yaml
  .github/workflows/update-codeowners-from-packages.yaml
  .github/workflows/update-sync-param-files.yaml
Labels: type:ci, tag:run-build-and-test-differential

#1184 fix(pointcloud_map_filter): add threshold for split map grid size
  autoware_launch/config/perception/object_recognition/detection/pointcloud_filter/pointcloud_map_filter.param.yaml
Labels: component:map, tag:run-build-and-test-differential

#1194 feat(crosswalk_module): set the velocity of occluded objects to 2.0m/s
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/crosswalk.param.yaml
Labels: tag:run-build-and-test-differential

#1195 chore(simple_planning_simulator): add stop_filter_param_path
  autoware_launch/launch/components/tier4_simulator_component.launch.xml
Labels: component:simulation, tag:run-build-and-test-differential

#1193 feat(control_validator): add hold and lpf
  autoware_launch/config/control/control_validator/control_validator.param.yaml
Labels: component:control, tag:run-build-and-test-differential

#1197 feat(autonomous_emergency_braking): change params to cater to urban scenario
  autoware_launch/config/control/autoware_autonomous_emergency_braking/autonomous_emergency_braking.param.yaml
Labels: tag:run-build-and-test-differential

#1192 feat(processing_time_checker): add five module.
  autoware_launch/config/system/processing_time_checker/processing_time_checker.param.yaml
Labels: enhancement, tag:run-build-and-test-differential

#1198 fix(start_planner): set ignore_distance_from_lane_end param to 0.0 since it is not needed
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/start_planner/start_planner.param.yaml
Labels: tag:run-build-and-test-differential

#1200 feat(start/goal_planner): increse max dry steering angle
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/goal_planner/goal_planner.param.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/start_planner/start_planner.param.yaml
Labels: tag:run-build-and-test-differential

#1201 chore(diagnostic_graph_aggregator, system_diagnostic_monitor)!: change the config file directories from universe to autoware_launch
  .prettierignore
  autoware_launch/config/system/diagnostic_graph_aggregator/autoware-awsim.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/autoware-main.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/autoware-psim.yaml
  autoware_launch/config/system/system_diagnostic_monitor/autoware-main.yaml
  autoware_launch/config/system/system_diagnostic_monitor/autoware-psim.yaml
  autoware_launch/config/system/system_diagnostic_monitor/control.yaml
  autoware_launch/config/system/system_diagnostic_monitor/hardware.yaml
  autoware_launch/config/system/system_diagnostic_monitor/localization.yaml
  autoware_launch/config/system/system_diagnostic_monitor/map.yaml
  autoware_launch/config/system/system_diagnostic_monitor/perception.yaml
  autoware_launch/config/system/system_diagnostic_monitor/planning.yaml
  autoware_launch/config/system/system_diagnostic_monitor/system.yaml
  autoware_launch/config/system/system_diagnostic_monitor/vehicle.yaml
Labels: component:localization, component:system, type:ci, component:control, component:map, component:perception, component:planning, tag:run-build-and-test-differential
