Repository autowarefoundation/autoware_launch, pull requests merged in 2025-07, with the labels that each got.

#1462 fix: enable use_dynamic_map_loading
  autoware_launch/config/perception/object_recognition/detection/pointcloud_filter/pointcloud_map_filter.param.yaml
Labels: component:map, run:build-and-test-differential

#1518 feat(run_out): add option for strict cutting of predicted paths
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/motion_velocity_planner/run_out.param.yaml
Labels: run:build-and-test-differential

#1495 feat(velocity_smoother): implemting dynamic lateral acceleration and steering angle rate limit
  autoware_launch/config/planning/scenario_planning/common/autoware_velocity_smoother/velocity_smoother.param.yaml
Labels: run:build-and-test-differential

#1532 feat(run_out): enable new module and disable the previous one
  autoware_launch/config/planning/preset/default_preset.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/motion_velocity_planner/run_out.param.yaml
Labels: run:build-and-test-differential

#1516 feat(out_of_lane): validate predicted paths on lanelets
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/motion_velocity_planner/out_of_lane.param.yaml
Labels: run:build-and-test-differential

#1536 fix(lane_change): add curvature threshold for frenet planner
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/lane_change/lane_change.param.yaml
Labels: component:localization, component:system, type:ci, component:control, component:map, component:perception, component:planning, component:sensing, component:ui, run:build-and-test-differential

#1515 feat(obstacle_stop_module)!: add leading vehicle following by rss stop position determination
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/motion_velocity_planner/obstacle_stop.param.yaml
Labels: run:build-and-test-differential

#1542 feat(intersection_occlusion): request approval when occluded without traffic light
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/intersection.param.yaml
Labels: run:build-and-test-differential

#1544 fix(detection_area): change max_acceleration of detection_area module
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/detection_area.param.yaml
Labels: run:build-and-test-differential

#1332 feat: update diag settings for control_command_gate
  autoware_launch/config/control/control_command_gate/control_command_gate.param.yaml
  autoware_launch/config/system/command_mode/converter.param.yaml
  autoware_launch/config/system/command_mode/decider.param.yaml
  autoware_launch/config/system/command_mode/switcher.param.yaml
  autoware_launch/config/system/diagnostics/control.yaml
  autoware_launch/config/system/diagnostics/system.yaml
  autoware_launch/launch/components/tier4_control_component.launch.xml
  autoware_launch/launch/components/tier4_system_component.launch.xml
Labels: component:localization, component:system, component:control, component:map, component:perception, component:planning, run:build-and-test-differential

#1547 feat(autoware_pose_instability_detector): make pose_instability_detector configurable in autoware_launch
  autoware_launch/config/localization/pose_instability_detector.param.yaml
  autoware_launch/launch/components/tier4_localization_component.launch.xml
Labels: component:localization, run:build-and-test-differential

#1528 feat: add global parameters to tier4_localization_component.launch.xml
  autoware_launch/launch/components/tier4_localization_component.launch.xml
Labels: component:localization, run:build-and-test-differential

#1529 feat: add launch_pointcloud_container to tier4_localization_component.launch.xml
  autoware_launch/launch/components/tier4_localization_component.launch.xml
Labels: component:localization, run:build-and-test-differential

#1555 fix(autoware_launch): update trajectory relay to use parameters inste…
  autoware_launch/launch/autoware.launch.xml
Labels: run:build-and-test-differential

#1533 feat(path_generator): improve goal connection for goal on the side
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/path_generator/path_generator.param.yaml
Labels: run:build-and-test-differential

#1559 chore: back port 1527, 1528, 1529 to humble
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/components/tier4_localization_component.launch.xml
Labels: component:localization, run:build-and-test-differential

#1552 feat(rear_collision_checker): added a parameter to configure how many seconds ahead to predict collisions
  autoware_launch/config/planning/scenario_planning/common/planning_validator/rear_collision_checker.param.yaml
Labels: run:build-and-test-differential

#1562 feat(intersection_collision_checker): update intersection collision checker params
  autoware_launch/config/planning/scenario_planning/common/planning_validator/intersection_collision_checker.param.yaml
Labels: run:build-and-test-differential

#1563 feat(autoware_pointcloud_preprocessor): add remappings
  sensor_kit/awsim_labs_sensor_kit_launch/awsim_labs_sensor_kit_launch/launch/pointcloud_preprocessor.launch.py
  sensor_kit/awsim_sensor_kit_launch/awsim_sensor_kit_launch/launch/pointcloud_preprocessor.launch.py
  sensor_kit/sample_sensor_kit_launch/sample_sensor_kit_launch/launch/pointcloud_preprocessor.launch.py
Labels: run:build-and-test-differential

#1565 feat(crosswalk): improve robustness to prevent stop decision from being canceled by transient noise
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/crosswalk.param.yaml
Labels: run:build-and-test-differential

#1564 feat(multi_object_tracker): add generalized iou thresholds and overlap distance thresholds
  autoware_launch/config/perception/object_recognition/tracking/multi_object_tracker/data_association_matrix.param.yaml
  autoware_launch/config/perception/object_recognition/tracking/multi_object_tracker/multi_object_tracker_node.param.yaml
Labels: component:perception, run:build-and-test-differential

#1568 fix(object_merger): update launch and add param file
  autoware_launch/config/perception/object_recognition/detection/object_merger/ml_camera_lidar_object_association_merger.param.yaml
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception, run:build-and-test-differential

#1571 feat(map_based_prediction): prevent predicted path from chattering under noisy pose and velocity estimation
  autoware_launch/config/perception/object_recognition/prediction/map_based_prediction.param.yaml
Labels: component:map, run:build-and-test-differential

#1572 feat(launch): add flag to launch remaining distance calculator
  autoware_launch/config/planning/preset/default_preset.yaml
Labels: run:build-and-test-differential

#1573 feat(start_planner): add clothoid path parameters
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/start_planner/start_planner.param.yaml
Labels: run:build-and-test-differential

#1574 feat(autoware_vehicle_cmd_gate): steer rate limit with lateral jerk constraint
  autoware_launch/config/control/vehicle_cmd_gate/vehicle_cmd_gate.param.yaml
Labels: run:build-and-test-differential

#1575 feat(intersection_collision_checker): add parameter max_history_time
  autoware_launch/config/planning/scenario_planning/common/planning_validator/intersection_collision_checker.param.yaml
Labels: run:build-and-test-differential

#1578 refactor(rear_collision_checker): update parameter structure
  autoware_launch/config/planning/scenario_planning/common/planning_validator/rear_collision_checker.param.yaml
Labels: run:build-and-test-differential

#1566 feat(road_user_stop): add road_user_stop module config
  autoware_launch/config/planning/preset/default_preset.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/motion_velocity_planner/road_user_stop.param.yaml
  autoware_launch/launch/components/tier4_planning_component.launch.xml
  autoware_launch/rviz/autoware.rviz
Labels: component:localization, component:system, type:ci, component:control, component:map, component:perception, component:planning, component:sensing, component:ui, run:build-and-test-differential

#1584 feat(rear_collision_checker): support selecting safety metric from TTC or RSS
  autoware_launch/config/planning/scenario_planning/common/planning_validator/rear_collision_checker.param.yaml
Labels: run:build-and-test-differential
