Repository autowarefoundation/autoware_launch, pull requests merged in 2025-02, with the labels that each got.

#1322 feat(autoware_behavior_velocity_traffic_light_module): adjust velocity threshold for ensure stop at yellow light
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/traffic_light.param.yaml
Labels: run:build-and-test-differential

#1319 feat(autoware_probabilistic_occupancy_grid_map): disabled the subsample filters for the ogm
  autoware_launch/config/perception/occupancy_grid_map/pointcloud_based_occupancy_grid_map.param.yaml
Labels: run:build-and-test-differential

#1327 fix(ground_segmentation): bring junction parameter from param file to launch argument
  autoware_launch/config/perception/obstacle_segmentation/ground_segmentation/ground_segmentation.param.yaml
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception, run:build-and-test-differential

#1329 feat(tier4_perception_component): change tlr pedestrian classifier model
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: run:build-and-test-differential

#1331 chore(traffic_light_multi_camera_fusion): read parameters from yaml file
  autoware_launch/config/perception/traffic_light_multi_camera_fusion/traffic_light_multi_camera_fusion.param.yaml
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: run:build-and-test-differential

#1310 chore(traffic_light): rename enable_fine_detection
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/components/tier4_perception_component.launch.xml
  autoware_launch/launch/e2e_simulator.launch.xml
Labels: component:perception, run:build-and-test-differential

#1328 chore: refine perception related code owner
  .github/CODEOWNERS-manual
Labels: run:build-and-test-differential

#1326 chore(autoware_map_based_prediction): delete unused function and parameter
  autoware_launch/config/perception/object_recognition/prediction/map_based_prediction.param.yaml
Labels: run:build-and-test-differential

#1335 feat(goal_planner): align vehicle center to be parallel to lane boundary
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/goal_planner/goal_planner.param.yaml
Labels: run:build-and-test-differential

#1330 feat(autoware_motion_velocity_obstacle_slow_down_module): params for obstacle stop and slow down modules
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/motion_velocity_planner/obstacle_slow_down.param.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/motion_velocity_planner/obstacle_stop.param.yaml
Labels: component:planning, run:build-and-test-differential

#1337 chore(ekf_localizer): increase z_filter_proc_dev for large gradient road
  autoware_launch/config/localization/ekf_localizer.param.yaml
Labels: run:build-and-test-differential
