Repository autowarefoundation/autoware_launch, pull requests merged in 2025-08, with the labels that each got.

#1582 feat(blind_spot): new re-designed blind_spot module
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/blind_spot.param.yaml
Labels: run:build-and-test-differential

#1579 feat(boundary_departure): configurable departure points and type based on time
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/motion_velocity_planner/boundary_departure_prevention.param.yaml
Labels: component:planning, run:build-and-test-differential

#1589 fix(tracker): update pedestrian max_area_matrix for large pedestrian
  autoware_launch/config/perception/object_recognition/tracking/multi_object_tracker/data_association_matrix.param.yaml
Labels: component:perception, run:build-and-test-differential

#1587 fix(multi_object_tracker): add param for irregular_object
  autoware_launch/config/perception/object_recognition/tracking/multi_object_tracker/input_channels.param.yaml
Labels: run:build-and-test-differential

#1583 feat(perception_online_evaluator): change launch setting to enable node
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception, run:build-and-test-differential

#1588 feat(motion_velocity_planner): update pointcloud preprocess design
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/motion_velocity_planner/motion_velocity_planner.param.yaml
Labels: run:build-and-test-differential

#1592 fix(multi_object_tracker): remove confident_count_threshold parameter
  autoware_launch/config/perception/object_recognition/tracking/multi_object_tracker/multi_object_tracker_node.param.yaml
Labels: run:build-and-test-differential

#1594 feat: change planning output topic name to /planning/trajectory
  autoware_launch/config/system/component_state_monitor/topics.yaml
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/rviz/autoware.rviz
  autoware_launch/rviz/autoware_test_utils.rviz
  autoware_launch/rviz/perception.rviz
  autoware_launch/rviz/planning_bev.rviz
  autoware_launch/rviz/planning_tpv.rviz
  autoware_launch/rviz/scenario_simulator.rviz
Labels: component:perception, component:planning, component:ui, run:build-and-test-differential

#1591 feat(boundary_departure): on time buffer for critical departure
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/motion_velocity_planner/boundary_departure_prevention.param.yaml
Labels: run:build-and-test-differential

#1599 feat(rear_collision_checker): add new parameters
  autoware_launch/config/planning/scenario_planning/common/planning_validator/rear_collision_checker.param.yaml
Labels: run:build-and-test-differential

#1601 feat(boundary_departure): enable slow down feature
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/motion_velocity_planner/boundary_departure_prevention.param.yaml
Labels: run:build-and-test-differential

#1604 chore(boundary_departure): add rviz marker for slow down
  autoware_launch/rviz/autoware.rviz
Labels: component:ui, run:build-and-test-differential

#1603 fix(simulator): fix pose_instability_detector_param_path path
  autoware_launch/launch/components/tier4_simulator_component.launch.xml
Labels: run:build-and-test-differential

#1607 feat(autoware_launch): change short-circuit of diag setting
  autoware_launch/config/system/diagnostics/localization.yaml
  autoware_launch/config/system/diagnostics/planning.yaml
Labels: component:localization, component:planning, run:build-and-test-differential

#1585 feat(behavior_path_planner): add turn signal parameters for roundabouts
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/behavior_path_planner.param.yaml
Labels: run:build-and-test-differential

#1590 feat(obstacle_stop): add velocity estimation feature for point cloud
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/motion_velocity_planner/obstacle_stop.param.yaml
Labels: component:planning, run:build-and-test-differential

#1612 feat(blind_spot): add the flag to ignore non vru
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/blind_spot.param.yaml
Labels: run:build-and-test-differential

#1593 feat(arrived_goal): improve arrival judgment when ego-vehicle overshoots goal
  autoware_launch/config/planning/mission_planning/mission_planner/mission_planner.param.yaml
Labels: run:build-and-test-differential

#1614 fix(intersection_collision_checker): use traffic light context for intersection collision detection
  autoware_launch/config/planning/scenario_planning/common/planning_validator/intersection_collision_checker.param.yaml
  autoware_launch/config/planning/scenario_planning/common/planning_validator/planning_validator.param.yaml
Labels: component:planning, run:build-and-test-differential

#1619 feat(motion_velocity_planner_common): lateral margin adjustment for the ego's curvature and target obstacle motion
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/motion_velocity_planner/obstacle_stop.param.yaml
Labels: run:build-and-test-differential

#1622 feat(start_planner): prioritize planner type with list
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/start_planner/start_planner.param.yaml
Labels: run:build-and-test-differential

#1624 fix(boundary_departure): reduce brake delay
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/motion_velocity_planner/boundary_departure_prevention.param.yaml
Labels: run:build-and-test-differential

#1626 revert(obstacle_stop): disable opposing traffic feature
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/motion_velocity_planner/obstacle_stop.param.yaml
Labels: run:build-and-test-differential

#1623 feat(goal_planner): make parameters for stopping buffer
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/goal_planner/goal_planner.param.yaml
Labels: run:build-and-test-differential
