Repository autowarefoundation/autoware_launch, pull requests merged in 2025-01, with the labels that each got.

#1290 feat(lane_change): using frenet planner to generate lane change path when ego near terminal
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/lane_change/lane_change.param.yaml
Labels: run:build-and-test-differential

#1297 chore: fix typo in drivable_are_expansion.param.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/drivable_area_expansion.param.yaml
Labels: run:build-and-test-differential

#1299 chore(autoware_test_utils): add test_utils rviz config
  autoware_launch/rviz/autoware_test_utils.rviz
Labels: run:build-and-test-differential, tag:run-build-and-test-differential

#1298 feat(lane_change): add time limit param
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/lane_change/lane_change.param.yaml
Labels: run:build-and-test-differential

#1301 fix: remove unnecesary parameters
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/stop_line.param.yaml
Labels: run:build-and-test-differential, tag:run-build-and-test-differential

#1300 refactor(lane_change): add missing safety check parameter
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/lane_change/lane_change.param.yaml
Labels: run:build-and-test-differential

#1303 chore(system_monitor): add parameters for UDP buf errors
  autoware_launch/config/system/system_monitor/net_monitor.param.yaml
Labels: enhancement, run:build-and-test-differential

#1305 chore(planning): add p/c maintainers
  .github/CODEOWNERS-manual
Labels: run:build-and-test-differential

#1306 feat(workflows): bump version workflow
  .github/workflows/bump-version-pr.yaml
Labels: run:build-and-test-differential

#1307 feat(autoware_detected_object_validation): add height filter in lanelet filtering
  autoware_launch/config/perception/object_recognition/detection/detected_object_validation/object_lanelet_filter.param.yaml
  autoware_launch/config/perception/object_recognition/detection/object_filter/object_lanelet_filter.param.yaml
  autoware_launch/config/perception/object_recognition/detection/object_filter/radar_lanelet_filter.param.yaml
Labels: run:build-and-test-differential

#1309 feat: apply autoware prefix for adapi helpers
  autoware_launch/package.xml
Labels: run:build-and-test-differential

#1311 feat: apply autoware prefix for state monitor
  autoware_launch/launch/components/tier4_system_component.launch.xml
Labels: run:build-and-test-differential

#1313 feat: apply autoware prefix for state monitor
  autoware_launch/launch/components/tier4_system_component.launch.xml
Labels: run:build-and-test-differential

#1308 feat(goal_planner): introduce bezier based pullover for bus stop area
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/goal_planner/goal_planner.param.yaml
Labels: run:build-and-test-differential

#1314 feat(rviz): update autoware.rviz for motion_velocity_obstacle_<stop/slow_down/cruise>_module
  autoware_launch/config/planning/preset/default_preset.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/motion_velocity_planner/motion_velocity_planner.param.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/motion_velocity_planner/obstacle_cruise.param.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/motion_velocity_planner/obstacle_slow_down.param.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/motion_velocity_planner/obstacle_stop.param.yaml
  autoware_launch/launch/components/tier4_planning_component.launch.xml
  autoware_launch/rviz/autoware.rviz
Labels: run:build-and-test-differential

#1318 refactor(goal_planner): remove use_object_recognition because it is default
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/goal_planner/goal_planner.param.yaml
Labels: run:build-and-test-differential
