Repository autowarefoundation/autoware_launch, pull requests merged in 2025-03, with the labels that each got.

#1342 feat(behavior_planning): add behavior_path_planner_type to launch path_generator
  autoware_launch/config/planning/preset/default_preset.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/path_generator/path_generator.param.yaml
  autoware_launch/launch/components/tier4_planning_component.launch.xml
Labels: run:build-and-test-differential

#1339 feat(image_based_projection_fusion): update parameters for new image based projection fusion node
  autoware_launch/config/perception/object_recognition/detection/image_projection_based_fusion/fusion_common.param.yaml
Labels: run:build-and-test-differential

#1344 feat(dummy_infrastructur): auto approval when ego stops at stop line
  autoware_launch/config/planning/preset/default_preset.yaml
  autoware_launch/launch/components/tier4_simulator_component.launch.xml
Labels: run:build-and-test-differential

#1345 fix(planning): param update for sudden stop
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/motion_velocity_planner/obstacle_stop.param.yaml
Labels: type:ci, run:build-and-test-differential

#1348 chore: update labeler.yaml for v5
  .github/labeler.yaml
Labels: run:build-and-test-differential

#1349 feat(control_validator): add diag to check control component latency
  autoware_launch/config/control/control_validator/control_validator.param.yaml
Labels: run:build-and-test-differential

#1347 feat(planning_validator): add diag to check planning component latency
  autoware_launch/config/planning/scenario_planning/common/planning_validator/planning_validator.param.yaml
Labels: component:planning, run:build-and-test-differential

#1352 feat(planning_simulator): disable tlr in psim
  autoware_launch/launch/components/tier4_simulator_component.launch.xml
  autoware_launch/launch/planning_simulator.launch.xml
Labels: component:planning, run:build-and-test-differential

#1354 fix(obstacle_cruise_planner): ignore invalid stopping objects
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/motion_velocity_planner/obstacle_cruise.param.yaml
Labels: run:build-and-test-differential

#1343 feat(path_generator): add parameters
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/path_generator/path_generator.param.yaml
Labels: run:build-and-test-differential

#1336 refactor(perception): refactor launch file and add parameter file
  autoware_launch/config/perception/traffic_light_recognition/crosswalk_traffic_light_estimator/crosswalk_traffic_light_estimator.param.yaml
  autoware_launch/config/perception/traffic_light_recognition/tensorrt_yolox/yolox_traffic_light_detector.param.yaml
  autoware_launch/config/perception/traffic_light_recognition/traffic_light_arbiter/traffic_light_arbiter.param.yaml
  autoware_launch/config/perception/traffic_light_recognition/traffic_light_classifier/car_traffic_light_classifier.param.yaml
  autoware_launch/config/perception/traffic_light_recognition/traffic_light_classifier/pedestrian_traffic_light_classifier.param.yaml
  autoware_launch/config/perception/traffic_light_recognition/traffic_light_fine_detector/traffic_light_fine_detector.param.yaml
  autoware_launch/config/perception/traffic_light_recognition/traffic_light_map_based_detector/camera6_traffic_light_map_based_detector.param.yaml
  autoware_launch/config/perception/traffic_light_recognition/traffic_light_map_based_detector/camera7_traffic_light_map_based_detector.param.yaml
  autoware_launch/config/perception/traffic_light_recognition/traffic_light_map_based_detector/traffic_light_traffic_light_map_based_detector.param.yaml
  autoware_launch/config/perception/traffic_light_recognition/traffic_light_multi_camera_fusion/traffic_light_multi_camera_fusion.param.yaml
  autoware_launch/config/perception/traffic_light_recognition/traffic_light_occlusion_predictor/traffic_light_occlusion_predictor.param.yaml
  autoware_launch/config/perception/traffic_light_recognition/traffic_light_selector/traffic_light_selector.param.yaml
  autoware_launch/config/perception/traffic_light_recognition/traffic_light_visualization/traffic_light_roi_visualizer.param.yaml
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/components/tier4_perception_component.launch.xml
  autoware_launch/launch/e2e_simulator.launch.xml
Labels: component:map, component:perception, run:build-and-test-differential

#1346 feat(control_validator)!: add overrun_stop_point_dist parameter
  autoware_launch/config/control/control_validator/control_validator.param.yaml
Labels: component:control, run:build-and-test-differential

#1350 feat: disable merge_from_private
  autoware_launch/config/planning/preset/default_preset.yaml
Labels: run:build-and-test-differential

#1353 feat(behavior_path_planner_common): update drivable area expansion parameters
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/drivable_area_expansion.param.yaml
Labels: run:build-and-test-differential

#1356 feat(planning_validator): add parameter for yaw deviation metric
  autoware_launch/config/planning/scenario_planning/common/planning_validator/planning_validator.param.yaml
Labels: component:planning, run:build-and-test-differential

#1259 feat(out_of_lane): add 'use_map_stop_lines' parameter
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/motion_velocity_planner/out_of_lane.param.yaml
Labels: run:build-and-test-differential

#1359 feat(pid_long): disable overshoot_emergency
  autoware_launch/config/control/trajectory_follower/longitudinal/pid.param.yaml
Labels: run:build-and-test-differential

#1360 feat(autoware_launch): rename to max_lat_margin_against_predicted_object_unknown
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/motion_velocity_planner/obstacle_stop.param.yaml
Labels: run:build-and-test-differential

#1366 chore: bump version to 0.42.0
  .github/CODEOWNERS-manual
  autoware_launch/CHANGELOG.rst
  autoware_launch/config/localization/ekf_localizer.param.yaml
  autoware_launch/config/perception/object_recognition/prediction/map_based_prediction.param.yaml
  autoware_launch/config/perception/obstacle_segmentation/ground_segmentation/ground_segmentation.param.yaml
  autoware_launch/config/perception/occupancy_grid_map/pointcloud_based_occupancy_grid_map.param.yaml
  autoware_launch/config/perception/traffic_light_multi_camera_fusion/traffic_light_multi_camera_fusion.param.yaml
  autoware_launch/config/planning/preset/default_preset.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/goal_planner/goal_planner.param.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/traffic_light.param.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/motion_velocity_planner/motion_velocity_planner.param.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/motion_velocity_planner/obstacle_cruise.param.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/motion_velocity_planner/obstacle_slow_down.param.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/motion_velocity_planner/obstacle_stop.param.yaml
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/components/tier4_perception_component.launch.xml
  autoware_launch/launch/components/tier4_planning_component.launch.xml
  autoware_launch/launch/e2e_simulator.launch.xml
  autoware_launch/package.xml
  autoware_launch/rviz/autoware.rviz
Labels: run:build-and-test-differential

#1365 feat(goal_planner): expand outer collision check margin
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/goal_planner/goal_planner.param.yaml
Labels: run:build-and-test-differential

#1364 feat(multi_object_tracker): add input channel flags for selective update per channel
  autoware_launch/config/perception/object_recognition/tracking/multi_object_tracker/input_channels.param.yaml
Labels: run:build-and-test-differential

#1370 feat(crosswalk): fix stop position calclaton params
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/crosswalk.param.yaml
Labels: run:build-and-test-differential

#1374 feat(crosswalk_module): add param to consider objects on crosswalk when pedestrian traffic light is red
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/crosswalk.param.yaml
Labels: run:build-and-test-differential

#1376 fix(roi_pointcloud_fusion): add roi scale factor param
  autoware_launch/config/perception/object_recognition/detection/image_projection_based_fusion/roi_pointcloud_fusion.param.yaml
Labels: run:build-and-test-differential

#1357 feat(perception): add parameter for diag
  autoware_launch/config/perception/object_recognition/tracking/tracking_object_merger/decorative_tracker_merger.param.yaml
Labels: run:build-and-test-differential

#1362 feat: add parameter for diagnostics
  autoware_launch/config/perception/object_recognition/prediction/map_based_prediction.param.yaml
Labels: component:map, run:build-and-test-differential

#1368 feat(start/goal_planner): update max steer angle parameters to use margin scale
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/goal_planner/goal_planner.param.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/start_planner/start_planner.param.yaml
Labels: run:build-and-test-differential

#1379 fix: update code owners for perception and sensing components
  .github/CODEOWNERS-manual
Labels: type:ci, run:build-and-test-differential
