Repository autowarefoundation/autoware_launch, pull requests merged in 2025-05, with the labels that each got.

#1422 feat(behavior_velocity_planner)!: remove unused function parameter for extendLine
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/behavior_velocity_planner.param.yaml
Labels: run:build-and-test-differential

#1431 feat(static_obstacle_avoidance): add flag to wait approval when the ego uses opposite lane
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/static_obstacle_avoidance.param.yaml
Labels: run:build-and-test-differential

#1426 fix(probabilistic_occupancy_grid_map): add missing parameter for multi-lidar
  autoware_launch/config/perception/occupancy_grid_map/multi_lidar_pointcloud_based_occupancy_grid_map.param.yaml
Labels: component:map, run:build-and-test-differential

#1438 chore: bump version to 0.44.1
  autoware_launch/CHANGELOG.rst
  autoware_launch/config/system/duplicated_node_checker/duplicated_node_checker.param.yaml
  autoware_launch/package.xml
  sensor_kit/awsim_labs_sensor_kit_launch/awsim_labs_sensor_kit_description/CHANGELOG.rst
  sensor_kit/awsim_labs_sensor_kit_launch/awsim_labs_sensor_kit_description/package.xml
  sensor_kit/awsim_labs_sensor_kit_launch/awsim_labs_sensor_kit_launch/CHANGELOG.rst
  sensor_kit/awsim_labs_sensor_kit_launch/awsim_labs_sensor_kit_launch/package.xml
  sensor_kit/awsim_labs_sensor_kit_launch/common_awsim_labs_sensor_launch/CHANGELOG.rst
  sensor_kit/awsim_labs_sensor_kit_launch/common_awsim_labs_sensor_launch/package.xml
  sensor_kit/awsim_sensor_kit_launch/awsim_sensor_kit_description/CHANGELOG.rst
  sensor_kit/awsim_sensor_kit_launch/awsim_sensor_kit_description/package.xml
  sensor_kit/awsim_sensor_kit_launch/awsim_sensor_kit_launch/CHANGELOG.rst
  sensor_kit/awsim_sensor_kit_launch/awsim_sensor_kit_launch/package.xml
  sensor_kit/sample_sensor_kit_launch/common_sensor_launch/CHANGELOG.rst
  sensor_kit/sample_sensor_kit_launch/common_sensor_launch/package.xml
  sensor_kit/sample_sensor_kit_launch/sample_sensor_kit_description/CHANGELOG.rst
  sensor_kit/sample_sensor_kit_launch/sample_sensor_kit_description/package.xml
  sensor_kit/sample_sensor_kit_launch/sample_sensor_kit_launch/CHANGELOG.rst
  sensor_kit/sample_sensor_kit_launch/sample_sensor_kit_launch/package.xml
  sensor_kit/single_lidar_sensor_kit_launch/single_lidar_common_launch/CHANGELOG.rst
  sensor_kit/single_lidar_sensor_kit_launch/single_lidar_common_launch/package.xml
  sensor_kit/single_lidar_sensor_kit_launch/single_lidar_sensor_kit_description/CHANGELOG.rst
  sensor_kit/single_lidar_sensor_kit_launch/single_lidar_sensor_kit_description/package.xml
  sensor_kit/single_lidar_sensor_kit_launch/single_lidar_sensor_kit_launch/CHANGELOG.rst
  sensor_kit/single_lidar_sensor_kit_launch/single_lidar_sensor_kit_launch/package.xml
  vehicle/awsim_labs_vehicle_launch/awsim_labs_vehicle_description/CHANGELOG.rst
  vehicle/awsim_labs_vehicle_launch/awsim_labs_vehicle_description/package.xml
  vehicle/awsim_labs_vehicle_launch/awsim_labs_vehicle_launch/CHANGELOG.rst
  vehicle/awsim_labs_vehicle_launch/awsim_labs_vehicle_launch/package.xml
  vehicle/sample_vehicle_launch/sample_vehicle_description/CHANGELOG.rst
  vehicle/sample_vehicle_launch/sample_vehicle_description/package.xml
  vehicle/sample_vehicle_launch/sample_vehicle_launch/CHANGELOG.rst
  vehicle/sample_vehicle_launch/sample_vehicle_launch/package.xml
Labels: run:build-and-test-differential

#1439 fix(tier4_perception_launch): add camera ids param for segmentation_pointcloud_fusion
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception, run:build-and-test-differential

#1444 feat(autoware_launch): update adapi diags
  autoware_launch/config/system/diagnostics/autoware-main.yaml
  autoware_launch/config/system/diagnostics/localization.yaml
  autoware_launch/config/system/diagnostics/planning.yaml
Labels: component:localization, component:planning, run:build-and-test-differential

#1442 feat(autoware_launch): remove trajectory_deviation from diagnostic graph
  autoware_launch/config/system/diagnostics/control.yaml
Labels: component:control, run:build-and-test-differential

#1445 feat(dynamic_drivable_area_expansion): set extra offsets to 0
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/drivable_area_expansion.param.yaml
Labels: run:build-and-test-differential

#1414 feat(rviz): replace MRM Summary overlay with Error Diag Graph in debug rviz
  autoware_launch/rviz/perception.rviz
  autoware_launch/rviz/planning_bev.rviz
  autoware_launch/rviz/planning_tpv.rviz
Labels: component:perception, component:planning, component:ui, run:build-and-test-differential

#1440 feat(control_validator): add lateral jerk validation
  autoware_launch/config/control/control_validator/control_validator.param.yaml
Labels: component:control, run:build-and-test-differential

#1447 fix(collision_detector): rename parameters to prevent launch issues
  autoware_launch/config/control/autoware_collision_detector/collision_detector.param.yaml
Labels: run:build-and-test-differential

#1401 feat(perception_component_launch): add common param for pointpainting_fusion
  autoware_launch/config/perception/object_recognition/detection/image_projection_based_fusion/pointpainting_common.param.yaml
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception, run:build-and-test-differential

#1409 feat(crosswalk): update stop position logic
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/crosswalk.param.yaml
Labels: component:localization, component:system, type:ci, component:control, component:map, component:perception, component:planning, component:sensing, component:ui, run:build-and-test-differential

#1448 chore(traffic_light_recognition): add comment in config of autoware_traffic_light_map_based_detector
  autoware_launch/config/perception/traffic_light_recognition/traffic_light_map_based_detector/camera6_traffic_light_map_based_detector.param.yaml
  autoware_launch/config/perception/traffic_light_recognition/traffic_light_map_based_detector/camera7_traffic_light_map_based_detector.param.yaml
  autoware_launch/config/perception/traffic_light_recognition/traffic_light_map_based_detector/traffic_light_traffic_light_map_based_detector.param.yaml
Labels: component:map, component:perception, run:build-and-test-differential

#1437 feat(obstacle_stop_module): maintain larger stop distance for opposing traffic
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/motion_velocity_planner/obstacle_stop.param.yaml
Labels: component:ui, run:build-and-test-differential

#1460 feat!: remove obstacle_stop_planner and obstacle_cruise_planner
  autoware_launch/config/planning/preset/default_preset.yaml
  autoware_launch/config/system/processing_time_checker/processing_time_checker.param.yaml
  autoware_launch/launch/components/tier4_planning_component.launch.xml
  autoware_launch/rviz/autoware.rviz
Labels: component:localization, component:system, type:ci, component:control, component:map, component:perception, component:planning, component:sensing, component:ui, run:build-and-test-differential

#1419 refactor(rviz): organize planning info/debug topics
  autoware_launch/rviz/autoware.rviz
Labels: component:ui, run:build-and-test-differential

#1450 fix(irregular_object_detector): add param for roi_pointcloud
  autoware_launch/config/perception/object_recognition/detection/irregular_object_detection/irregular_object_detector.param.yaml
Labels: run:build-and-test-differential

#1468 feat(rviz): add AccelerationMeter display configuration to RViz
  autoware_launch/rviz/autoware.rviz
Labels: component:ui, run:build-and-test-differential

#1465 feat(rviz): add a script to sync rviz
  autoware_launch/rviz/planning_bev.rviz
  autoware_launch/rviz/planning_tpv.rviz
  autoware_launch/rviz/scripts/replace_displays_block.sh
  autoware_launch/rviz/scripts/update_rviz.sh
Labels: component:planning, component:ui, run:build-and-test-differential

#1446 feat(autoware_detected_object_validation): add lanelet object elevation filter option
  autoware_launch/config/perception/object_recognition/detection/detected_object_validation/object_lanelet_filter.param.yaml
  autoware_launch/config/perception/object_recognition/detection/object_filter/object_lanelet_filter.param.yaml
  autoware_launch/config/perception/object_recognition/detection/object_filter/radar_lanelet_filter.param.yaml
Labels: run:build-and-test-differential

#1470 chore: bump up version to 0.44.2
  autoware_launch/CHANGELOG.rst
  autoware_launch/package.xml
  sensor_kit/awsim_labs_sensor_kit_launch/awsim_labs_sensor_kit_description/CHANGELOG.rst
  sensor_kit/awsim_labs_sensor_kit_launch/awsim_labs_sensor_kit_description/package.xml
  sensor_kit/awsim_labs_sensor_kit_launch/awsim_labs_sensor_kit_launch/CHANGELOG.rst
  sensor_kit/awsim_labs_sensor_kit_launch/awsim_labs_sensor_kit_launch/package.xml
  sensor_kit/awsim_labs_sensor_kit_launch/common_awsim_labs_sensor_launch/CHANGELOG.rst
  sensor_kit/awsim_labs_sensor_kit_launch/common_awsim_labs_sensor_launch/package.xml
  sensor_kit/awsim_sensor_kit_launch/awsim_sensor_kit_description/CHANGELOG.rst
  sensor_kit/awsim_sensor_kit_launch/awsim_sensor_kit_description/package.xml
  sensor_kit/awsim_sensor_kit_launch/awsim_sensor_kit_launch/CHANGELOG.rst
  sensor_kit/awsim_sensor_kit_launch/awsim_sensor_kit_launch/package.xml
  sensor_kit/sample_sensor_kit_launch/common_sensor_launch/CHANGELOG.rst
  sensor_kit/sample_sensor_kit_launch/common_sensor_launch/package.xml
  sensor_kit/sample_sensor_kit_launch/sample_sensor_kit_description/CHANGELOG.rst
  sensor_kit/sample_sensor_kit_launch/sample_sensor_kit_description/package.xml
  sensor_kit/sample_sensor_kit_launch/sample_sensor_kit_launch/CHANGELOG.rst
  sensor_kit/sample_sensor_kit_launch/sample_sensor_kit_launch/package.xml
  sensor_kit/single_lidar_sensor_kit_launch/single_lidar_common_launch/CHANGELOG.rst
  sensor_kit/single_lidar_sensor_kit_launch/single_lidar_common_launch/package.xml
  sensor_kit/single_lidar_sensor_kit_launch/single_lidar_sensor_kit_description/CHANGELOG.rst
  sensor_kit/single_lidar_sensor_kit_launch/single_lidar_sensor_kit_description/package.xml
  sensor_kit/single_lidar_sensor_kit_launch/single_lidar_sensor_kit_launch/CHANGELOG.rst
  sensor_kit/single_lidar_sensor_kit_launch/single_lidar_sensor_kit_launch/package.xml
  vehicle/awsim_labs_vehicle_launch/awsim_labs_vehicle_description/CHANGELOG.rst
  vehicle/awsim_labs_vehicle_launch/awsim_labs_vehicle_description/package.xml
  vehicle/awsim_labs_vehicle_launch/awsim_labs_vehicle_launch/CHANGELOG.rst
  vehicle/awsim_labs_vehicle_launch/awsim_labs_vehicle_launch/package.xml
  vehicle/sample_vehicle_launch/sample_vehicle_description/CHANGELOG.rst
  vehicle/sample_vehicle_launch/sample_vehicle_description/package.xml
  vehicle/sample_vehicle_launch/sample_vehicle_launch/CHANGELOG.rst
  vehicle/sample_vehicle_launch/sample_vehicle_launch/package.xml
Labels: run:build-and-test-differential
