Repository autowarefoundation/autoware_launch, pull requests merged in 2025-04, with the labels that each got.

#1383 fix(detection_area): integrate RTC feature
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/detection_area.param.yaml
Labels: run:build-and-test-differential

#1384 chore: set all versions to 0.43.0
  sensor_kit/awsim_labs_sensor_kit_launch/awsim_labs_sensor_kit_description/package.xml
  sensor_kit/awsim_labs_sensor_kit_launch/awsim_labs_sensor_kit_launch/package.xml
  sensor_kit/awsim_labs_sensor_kit_launch/common_awsim_labs_sensor_launch/package.xml
  sensor_kit/awsim_sensor_kit_launch/awsim_sensor_kit_description/package.xml
  sensor_kit/awsim_sensor_kit_launch/awsim_sensor_kit_launch/package.xml
  sensor_kit/sample_sensor_kit_launch/common_sensor_launch/package.xml
  sensor_kit/sample_sensor_kit_launch/sample_sensor_kit_description/package.xml
  sensor_kit/sample_sensor_kit_launch/sample_sensor_kit_launch/package.xml
  sensor_kit/single_lidar_sensor_kit_launch/single_lidar_common_launch/package.xml
  sensor_kit/single_lidar_sensor_kit_launch/single_lidar_sensor_kit_description/package.xml
  sensor_kit/single_lidar_sensor_kit_launch/single_lidar_sensor_kit_launch/package.xml
  vehicle/awsim_labs_vehicle_launch/awsim_labs_vehicle_description/package.xml
  vehicle/awsim_labs_vehicle_launch/awsim_labs_vehicle_launch/package.xml
  vehicle/sample_vehicle_launch/sample_vehicle_description/package.xml
  vehicle/sample_vehicle_launch/sample_vehicle_launch/package.xml
Labels: run:build-and-test-differential

#1378 feat(multi_object_tracker): add diagnostics warning when extrapolation time exceeds limit with latency guarantee enabled
  autoware_launch/config/perception/object_recognition/tracking/multi_object_tracker/multi_object_tracker_node.param.yaml
Labels: component:perception, run:build-and-test-differential

#1381 feat: add parameter for irregular object pipeline
  autoware_launch/config/perception/object_recognition/detection/irregular_object_detection/irregular_object_detector.param.yaml
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception, run:build-and-test-differential

#1392 feat(autoware_launch): remove exec_depend on autoware_launch from tier4_simulator_launch
  autoware_launch/launch/components/tier4_simulator_component.launch.xml
Labels: run:build-and-test-differential

#1377 feat(lidar_centerpoint): add common param file
  autoware_launch/config/perception/object_recognition/detection/lidar_model/centerpoint_common.param.yaml
Labels: run:build-and-test-differential

#1391 fix(lane_departure_checker): replace curbstone to road_border (RT1-9845)
  autoware_launch/config/control/lane_departure_checker/lane_departure_checker.param.yaml
Labels: run:build-and-test-differential

#1387 feat(probabilistic_occupancy_grid_map): add diagnostics warning when …
  autoware_launch/config/perception/occupancy_grid_map/pointcloud_based_occupancy_grid_map.param.yaml
Labels: component:perception, run:build-and-test-differential

#1395 revert(lane_departure_checker): "fix(lane_departure_checker): replace curbstone to road_border…
  autoware_launch/config/control/lane_departure_checker/lane_departure_checker.param.yaml
Labels: run:build-and-test-differential

#1398 feat(multi_object_tracker): add detailed processing time publishing option
  autoware_launch/config/perception/object_recognition/tracking/multi_object_tracker/multi_object_tracker_node.param.yaml
Labels: component:perception, run:build-and-test-differential

#1393 chore(sensor_kit_launch): remove unused has_static_tf_only param
  sensor_kit/awsim_labs_sensor_kit_launch/awsim_labs_sensor_kit_launch/config/concatenate_and_time_sync_node.param.yaml
  sensor_kit/awsim_sensor_kit_launch/awsim_sensor_kit_launch/config/concatenate_and_time_sync_node.param.yaml
  sensor_kit/sample_sensor_kit_launch/sample_sensor_kit_launch/config/concatenate_and_time_sync_node.param.yaml
Labels: run:build-and-test-differential

#1400 feat(lidar_transfusion): add transfusion common param file
  autoware_launch/config/perception/object_recognition/detection/lidar_model/transfusion_common.param.yaml
Labels: run:build-and-test-differential

#1402 refactor(planning_validator): separate validation check for steering and steering rate
  autoware_launch/config/planning/scenario_planning/common/planning_validator/planning_validator.param.yaml
Labels: component:planning, run:build-and-test-differential

#1403 feat: remove individual_params references
  autoware_launch/launch/autoware.launch.xml
  sensor_kit/awsim_labs_sensor_kit_launch/awsim_labs_sensor_kit_description/config/sensor_kit_calibration.yaml
  sensor_kit/awsim_labs_sensor_kit_launch/awsim_labs_sensor_kit_launch/launch/imu.launch.xml
  sensor_kit/awsim_sensor_kit_launch/awsim_sensor_kit_launch/launch/imu.launch.xml
  sensor_kit/sample_sensor_kit_launch/sample_sensor_kit_description/config/imu_corrector.param.yaml
  sensor_kit/sample_sensor_kit_launch/sample_sensor_kit_launch/launch/imu.launch.xml
Labels: run:build-and-test-differential

#1405 feat(traffic_light): add traffic light restart suppression parameters
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/traffic_light.param.yaml
Labels: run:build-and-test-differential

#1382 feat(autoware_launch): add ColoredPoseWithCovarianceHistory to Localization NDT
  autoware_launch/rviz/autoware.rviz
Labels: component:ui, run:build-and-test-differential

#1394 feat(control_validator): add over run estimation feature
  autoware_launch/config/control/control_validator/control_validator.param.yaml
Labels: component:control, run:build-and-test-differential

#1404 feat(out_of_lane): improve out of lane stability
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/motion_velocity_planner/out_of_lane.param.yaml
Labels: run:build-and-test-differential

#1411 chore: bump version to 0.44.0
  autoware_launch/CHANGELOG.rst
  autoware_launch/package.xml
  sensor_kit/awsim_labs_sensor_kit_launch/awsim_labs_sensor_kit_description/CHANGELOG.rst
  sensor_kit/awsim_labs_sensor_kit_launch/awsim_labs_sensor_kit_description/package.xml
  sensor_kit/awsim_labs_sensor_kit_launch/awsim_labs_sensor_kit_launch/CHANGELOG.rst
  sensor_kit/awsim_labs_sensor_kit_launch/awsim_labs_sensor_kit_launch/package.xml
  sensor_kit/awsim_labs_sensor_kit_launch/common_awsim_labs_sensor_launch/CHANGELOG.rst
  sensor_kit/awsim_labs_sensor_kit_launch/common_awsim_labs_sensor_launch/package.xml
  sensor_kit/awsim_sensor_kit_launch/awsim_sensor_kit_description/CHANGELOG.rst
  sensor_kit/awsim_sensor_kit_launch/awsim_sensor_kit_description/package.xml
  sensor_kit/awsim_sensor_kit_launch/awsim_sensor_kit_launch/CHANGELOG.rst
  sensor_kit/awsim_sensor_kit_launch/awsim_sensor_kit_launch/package.xml
  sensor_kit/sample_sensor_kit_launch/common_sensor_launch/CHANGELOG.rst
  sensor_kit/sample_sensor_kit_launch/common_sensor_launch/package.xml
  sensor_kit/sample_sensor_kit_launch/sample_sensor_kit_description/CHANGELOG.rst
  sensor_kit/sample_sensor_kit_launch/sample_sensor_kit_description/package.xml
  sensor_kit/sample_sensor_kit_launch/sample_sensor_kit_launch/CHANGELOG.rst
  sensor_kit/sample_sensor_kit_launch/sample_sensor_kit_launch/package.xml
  sensor_kit/single_lidar_sensor_kit_launch/single_lidar_common_launch/CHANGELOG.rst
  sensor_kit/single_lidar_sensor_kit_launch/single_lidar_common_launch/package.xml
  sensor_kit/single_lidar_sensor_kit_launch/single_lidar_sensor_kit_description/CHANGELOG.rst
  sensor_kit/single_lidar_sensor_kit_launch/single_lidar_sensor_kit_description/package.xml
  sensor_kit/single_lidar_sensor_kit_launch/single_lidar_sensor_kit_launch/CHANGELOG.rst
  sensor_kit/single_lidar_sensor_kit_launch/single_lidar_sensor_kit_launch/package.xml
  vehicle/awsim_labs_vehicle_launch/awsim_labs_vehicle_description/CHANGELOG.rst
  vehicle/awsim_labs_vehicle_launch/awsim_labs_vehicle_description/package.xml
  vehicle/awsim_labs_vehicle_launch/awsim_labs_vehicle_launch/CHANGELOG.rst
  vehicle/awsim_labs_vehicle_launch/awsim_labs_vehicle_launch/package.xml
  vehicle/sample_vehicle_launch/sample_vehicle_description/CHANGELOG.rst
  vehicle/sample_vehicle_launch/sample_vehicle_description/package.xml
  vehicle/sample_vehicle_launch/sample_vehicle_launch/CHANGELOG.rst
  vehicle/sample_vehicle_launch/sample_vehicle_launch/package.xml
Labels: run:build-and-test-differential

#1406 feat(planning_validator): add lateral jerk validation parameters
  autoware_launch/config/planning/scenario_planning/common/planning_validator/planning_validator.param.yaml
Labels: component:planning, run:build-and-test-differential

#1388 feat(mvp_run_out): update for new motion_velocity_planner run_out
  autoware_launch/config/planning/preset/default_preset.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/motion_velocity_planner/run_out.param.yaml
  autoware_launch/launch/components/tier4_planning_component.launch.xml
  autoware_launch/rviz/autoware.rviz
Labels: component:planning, component:ui, run:build-and-test-differential

#1410 feat(autoware_motion_velocity_planner): point-cloud clustering optimization
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/motion_velocity_planner/motion_velocity_planner.param.yaml
Labels: run:build-and-test-differential

#1396 feat(traffic_light): remove unnecessary config file
  autoware_launch/config/perception/traffic_light_recognition/traffic_light_selector/traffic_light_selector.param.yaml
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception, run:build-and-test-differential

#1407 feat: add input_timeout in operation_mode_transition_manager
  autoware_launch/config/control/operation_mode_transition_manager/operation_mode_transition_manager.param.yaml
Labels: run:build-and-test-differential

#1415 chore(simulator.launch): remove params of traffic_light_selector
  autoware_launch/launch/components/tier4_simulator_component.launch.xml
Labels: run:build-and-test-differential

#1416 feat(autoware_bevfusion): added bevfusion config files
  autoware_launch/config/perception/object_recognition/detection/lidar_model/bevfusion_camera_lidar.param.yaml
  autoware_launch/config/perception/object_recognition/detection/lidar_model/bevfusion_common.param.yaml
  autoware_launch/config/perception/object_recognition/detection/lidar_model/bevfusion_lidar.param.yaml
Labels: run:build-and-test-differential

#1413 feat(duplicated_node_checker): ignore duplicate get parameter
  autoware_launch/config/system/duplicated_node_checker/duplicated_node_checker.param.yaml
Labels: run:build-and-test-differential

#1421 feat(ring_outlier_filter): update node parameters
  sensor_kit/awsim_labs_sensor_kit_launch/common_awsim_labs_sensor_launch/config/ring_outlier_filter_node.param.yaml
  sensor_kit/sample_sensor_kit_launch/common_sensor_launch/config/ring_outlier_filter_node.param.yaml
  sensor_kit/single_lidar_sensor_kit_launch/single_lidar_common_launch/config/ring_outlier_filter_node.param.yaml
Labels: run:build-and-test-differential
