Repository autowarefoundation/autoware_launch, pull requests merged in 2025-06, with the labels that each got.

#1452 feat(crosswalk_module): add parked vehicles stop feature
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/crosswalk.param.yaml
Labels: run:build-and-test-differential

#1477 feat(perception): add parameters to use pedestrian traffic signal result estimated in perception pipeline
  autoware_launch/config/perception/traffic_light_recognition/crosswalk_traffic_light_estimator/crosswalk_traffic_light_estimator.param.yaml
Labels: run:build-and-test-differential

#1476 feat(run_out): option to preserve parts of ignored predicted paths
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/motion_velocity_planner/run_out.param.yaml
Labels: run:build-and-test-differential

#1484 fix(path_generator): ensure refined path connects start and goal
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/path_generator/path_generator.param.yaml
Labels: run:build-and-test-differential

#1449 chore(perception): remove unused radar filer configs
  autoware_launch/config/perception/object_recognition/detection/clustering/radar_object_clustering.param.yaml
  autoware_launch/config/perception/object_recognition/detection/detected_object_validation/object_lanelet_filter.param.yaml
  autoware_launch/config/perception/object_recognition/detection/detected_object_validation/object_position_filter.param.yaml
  autoware_launch/config/perception/object_recognition/detection/radar_crossing_objects_noise_filter/radar_crossing_objects_noise_filter.param.yaml
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception, run:build-and-test-differential

#1474 feat(planning_factor): add console output option
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/behavior_velocity_planner.param.yaml
Labels: run:build-and-test-differential

#1479 feat: add pointcloud container arg for simulator component
  autoware_launch/launch/components/tier4_simulator_component.launch.xml
Labels: run:build-and-test-differential

#1487 feat: add pointcloud container arg for simulator component (#1479)
  autoware_launch/launch/components/tier4_simulator_component.launch.xml
Labels: run:build-and-test-differential

#1485 feat(planning_validator): implement collision prevention feature when ego makes a turn
  autoware_launch/config/planning/preset/default_preset.yaml
  autoware_launch/config/planning/scenario_planning/common/planning_validator/intersection_collision_checker.param.yaml
  autoware_launch/launch/components/tier4_planning_component.launch.xml
Labels: component:planning, run:build-and-test-differential

#1490 feat(detection_area): improve log message
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/detection_area.param.yaml
Labels: run:build-and-test-differential

#1491 fix(crosswalk_module): rename parameters in crosswalk_module
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/crosswalk.param.yaml
Labels: run:build-and-test-differential

#1492 fix(autoware_static_obstacle_avoidance): fix classification method of unstable object
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/static_obstacle_avoidance.param.yaml
Labels: run:build-and-test-differential

#1493 feat(planning_validator): add new validation feature
  autoware_launch/config/planning/preset/default_preset.yaml
  autoware_launch/config/planning/scenario_planning/common/planning_validator/rear_collision_checker.param.yaml
  autoware_launch/launch/components/tier4_planning_component.launch.xml
Labels: component:planning, run:build-and-test-differential

#1497 feat(launch/components): launch in a component-wise manner
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/components/tier4_autoware_api_component.launch.xml
  autoware_launch/launch/components/tier4_control_component.launch.xml
  autoware_launch/launch/components/tier4_planning_component.launch.xml
Labels: component:control, component:planning, run:build-and-test-differential

#1500 fix(roi_cluster_fusion): rename param
  autoware_launch/config/perception/object_recognition/detection/image_projection_based_fusion/roi_cluster_fusion.param.yaml
Labels: run:build-and-test-differential

#1482 feat(autoware_behavior_velocity_traffic_light_module): add v2i
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/traffic_light.param.yaml
Labels: run:build-and-test-differential

#1501 feat(intersection): more conservative stop for NOT_PRIORITIZED
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/intersection.param.yaml
Labels: run:build-and-test-differential

#1504 feat(path_generator): publish processing time
  autoware_launch/config/system/processing_time_checker/processing_time_checker.param.yaml
Labels: run:build-and-test-differential

#1505 feat(intersection_collision_checker): update config
  autoware_launch/config/planning/scenario_planning/common/planning_validator/intersection_collision_checker.param.yaml
Labels: run:build-and-test-differential

#1481 feat(autoware_multi_object_tracker): unknown as static object
  autoware_launch/config/perception/object_recognition/tracking/multi_object_tracker/multi_object_tracker_node.param.yaml
Labels: component:perception, run:build-and-test-differential

#1506 feat(static_obstacle_avoidance): support separate lateral jerk constraints for avoidance and return maneuvers
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/static_obstacle_avoidance.param.yaml
Labels: run:build-and-test-differential

#1510 feat(intersection_occlusion): adjustable occlusion wall position for intersection without traffic_light
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/intersection.param.yaml
Labels: run:build-and-test-differential

#1514 fix(multi_object_tracker): disable debug markers in configuration for improved performance
  autoware_launch/config/perception/object_recognition/tracking/multi_object_tracker/multi_object_tracker_node.param.yaml
Labels: component:perception, run:build-and-test-differential

#1512 feat(launch/components): launch `autoware_global_parameter_loader` in a component-wise manner
  autoware_launch/launch/components/tier4_perception_component.launch.xml
  autoware_launch/launch/components/tier4_sensing_component.launch.xml
Labels: component:perception, component:sensing, run:build-and-test-differential

#1467 feat: visualize all static_obstacle_avoidance info marker
  autoware_launch/rviz/autoware.rviz
Labels: component:ui, run:build-and-test-differential

#1521 chore: remove default values of `pointcloud_container_name`
  autoware_launch/launch/components/tier4_perception_component.launch.xml
  autoware_launch/launch/components/tier4_sensing_component.launch.xml
Labels: run:build-and-test-differential

#1517 feat(autoware_lidar_centerpoint): update score_threshold to score_thresholds for class-wise thresholds
  autoware_launch/config/perception/object_recognition/detection/lidar_model/centerpoint.param.yaml
  autoware_launch/config/perception/object_recognition/detection/lidar_model/centerpoint_sigma.param.yaml
  autoware_launch/config/perception/object_recognition/detection/lidar_model/centerpoint_tiny.param.yaml
  autoware_launch/config/perception/object_recognition/detection/lidar_model/pointpainting.param.yaml
Labels: component:perception, run:build-and-test-differential

#1524 fix: `pointcloud_contaner` is launched on `autoware.launch.xml` by default (#1523)
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/components/tier4_perception_component.launch.xml
  autoware_launch/launch/components/tier4_sensing_component.launch.xml
Labels: component:perception, component:sensing, run:build-and-test-differential

#1522 fix(tier4_simulator_component): fix argument name in tier4_simulator_component.launch.xml
  autoware_launch/launch/components/tier4_simulator_component.launch.xml
Labels: run:build-and-test-differential

#1526 chore(obstacle_cruise_planner, obstacle_stop_planner): remove obstacle planner parameters
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/obstacle_cruise_planner/obstacle_cruise_planner.param.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/obstacle_stop_planner/adaptive_cruise_control.param.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/obstacle_stop_planner/obstacle_stop_planner.param.yaml
Labels: component:control, run:build-and-test-differential

#1480 feat(obstacle_stop_module): add parameters for "outside" region obstacles
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/motion_velocity_planner/obstacle_stop.param.yaml
Labels: component:localization, component:system, type:ci, component:control, component:map, component:perception, component:planning, component:sensing, component:ui, run:build-and-test-differential
